[2016-01-28 23:26] nesQuick opened #1 "The grand opening!"
We need to get started. I propose the last Tuesday each Month (for a start, might be discussed at the first meet up).

**Date:** February 23rd
**Agenda:**
- _TBD_

TODO:
- [ ] agenda
- [ ] create meet up on meetup.com
- [ ] get the word out!
- [ ] invite Hamburg BEAMers

Thoughts @LydG ?

[2016-02-01 10:37] OleMchls commented on #1
I think for the first meet up we will start with a easy agenda:
- Welcome
- Introduce the Organizers
- Get to know each other
- Collect ideas for talks and activities for following meet ups
- Hang out and have beers :beers:

[2016-02-23 22:50] nesQuick opened #2 "March Edition"
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas (tests) if necessary
- [x] Location
- [x] Format
- [x] announce meetup.com event (triggers mail)

**Date:** March 29th
**Location:** ~~The new Jimdo Bakery~~ Jimdo Kitchen

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk: Porting a simple library using Protocols and Code Generation by @h4cc #3
- [Coding Kata](https://github.com/h

[2016-02-24 00:00] nesQuick opened #3 "Porting a simple library using Protocols and Code Generation"
by Julius @h4cc

[2016-02-24 00:01] nesQuick opened #4 "Taming the API Scraper from hell"
by Sebastian @zweizeichen

[2016-02-24 00:02] nesQuick opened #5 "Basics of Metaprogramming in Elixir"
by Björn @BjRo

[2016-02-24 00:06] nesQuick opened #6 "April Edition"
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Format
- [x] Announce meetup.com event (triggers mail)

**Date:** April 26th
**Location:** SABIO with @dszam

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk by @BjRo "Basics of Metaprogramming in Elixir" #5
- meta programming coding (kata / dojo)

[2016-02-24 00:09] nesQuick opened #7 "May Edition"
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)

Remarks:
- drinks, toilets thx to Xing
- sorry for meet up time confusion
- slack channel Elixir
- locations
- talk and stuff participation
- Next: Tuesday, June 28, 2016 Jimdo

**Date:** May 31st
**Location:**  Xing with @BjRo (#6)

Agenda:
- 18:30 Open the

[2016-02-24 08:58] h4cc commented on #3
Topic would we a very simple library mostly using simple string manipulation.
Could be a good introduction for beginners with basic elixir coding.
Also some more advanced topics/ideas like code generation and protocols could be shown.

Time: 20-30 Minutes
Medium: Slides via Beamer

[2016-02-24 12:32] LydG commented on #1
![img_0327](https://cloud.githubusercontent.com/assets/16941601/13285452/f15376d2-dafa-11e5-825e-0ba9f33513ca.JPG)
![img_0328](https://cloud.githubusercontent.com/assets/16941601/13285451/f151e4c0-dafa-11e5-9395-5f1ff51651be.JPG)
![img_0329](https://cloud.githubusercontent.com/assets/16941601/13285453/f156e5ba-dafa-11e5-9071-78f6c9b81b82.JPG)

[2016-02-24 12:35] #1 closed

[2016-02-24 13:08] LydG commented on #5
We thought it would be cool to do this in April when we are at Xing? Sound that good to you @BjRo?

[2016-02-24 13:10] LydG commented on #6
Idea: Having @BjRo giving the talk proposed in #5 plus some coding things we might come up with later

[2016-02-24 13:15] LydG commented on #2
Two thoughts: first @h4cc would you like to give your talk #3 as a opener? Second we will prepare a small-ish coding kata (with tests) to be exercised. _Link to the repo tbd_

[2016-02-24 14:28] BjRo commented on #5
Yes, absolutely fine with me. After thinking a bit about it yesterday, I would probably revise the topic slightly though.

What do you think about "Basics of Metaprogramming in Elixir"?

We just finished working on the DSL code I mentioned yesterday and I got the impression that maybe for the starters in the group, it might be a little bit early for such a topic. (and my original idea is more a ki

[2016-02-24 14:31] KlausTrainer commented on #5
:+1:

[2016-02-24 14:54] h4cc commented on #2
@LydG Yep, i can do that! :+1:

[2016-02-24 18:23] zweizeichen commented on #4
A small, informal (and hopefully fun) presentation on a 'high performance' API scraper I built a while ago.  It'll probably mainly deal with the various problems and their solutions I encountered while designing/writing this piece of software. I will show different approaches to the problem set while touching on topics like:
- OTP / GenServer / Supervisors
- memory-saving techniques
- simple perfo

[2016-02-24 18:37] erikmueller commented on #5
:+1: I'd really love to get some insights into this macro stuff (and the beer).

[2016-02-24 18:43] zweizeichen commented on #5
Seems reasonable to start with the basics - maybe there could be a nice kata for practicing afterwards? Cool topic! :+1:

[2016-02-24 21:33] OleMchls commented on #4
Awesome, thanks. I think we will pull this talk into one of the next meet ups. I really like not to plan too much ahead and the very next ones are already filled with a talk. And I really want to save the exciting content also for some later meetups  :)

[2016-02-24 21:34] OleMchls commented on #2
yeah 50% already done for the march meet up! :tada:

[2016-02-24 21:40] OleMchls commented on #5
@BjRo sounds awesome! :heart: I adjusted the issue title and filled in the details in #6 :tada:

I like the idea to have a **related** programming _thingy_ afterwards. @LydG ideas / opinions?

[2016-02-24 21:41] OleMchls commented on #6
As discussed in #5 the programming exercise could/should relate to the meta programming talk

[2016-02-25 09:13] markschmidt opened #8 ""War story" - Bring it to production and keep it up"
I'm not really sure how useful this is to others, because most of it seems pretty obvious to me in retrospective and some of the problems/solutions are coupled (but probably not unique) to our infrastrucure.

However, I could talk about the issues we faced bringing it to production and keeping it up. Topics I would cover:
- deployment
- logging / monitoring
- profiling / finding bottlenecks
- Less

[2016-02-25 16:14] OleMchls commented on #8
I'd love to hear this. A bit about compiling would also be nice :)

[2016-02-25 16:17] zweizeichen commented on #8
Yeah and testing/CI/CD if you have made any special experiences ;)

[2016-02-25 20:03] KlausTrainer commented on #8
:+1:

[2016-02-26 08:00] dszam commented on #7
confirmed.
The SABIO Lounge will be prepared on May 31st. to host hh.ex
Drinks and Snacks are waiting and the doors will open at 18.00h.
Cheers Dirk

[2016-02-26 09:28] OleMchls commented on #7
Awesome! Thanks

[2016-02-26 13:48] lukad commented on #8
I would love to hear a talk about this as well.
:+1:

[2016-03-02 00:03] OleMchls commented on #2
added the link to the kata repo, which only contains the test cases :warning: please do not spoiler yourself :heart:  :warning:

[2016-03-02 00:04] OleMchls commented on #2
this meet up will again be featured in the elixir weekly newsletter, also discussed with plataformatec that they are going to add future meet ups without any notice (hope this will work :))

[2016-03-03 22:07] OleMchls commented on #2
we're searching for a kata related to the talk, if anyone has some good ideas, let us know

[2016-03-03 22:10] OleMchls commented on #2
finished agenda on meetup.com will announce it ~2wks before the meet up

[2016-03-29 19:50] OleMchls commented on #2
Yay! Done :tada:

@h4cc please reference your slides, here or on meet up or twitter or all of the mentioned options.

[2016-03-29 19:50] #2 closed

[2016-03-29 20:36] NobbZ opened #11 "Recordings of the talks."
Even living near Hamburg, I do have a hard time joining the meetups due to family duties. Are there any plans of recording and publishing the talks given?

[2016-03-30 07:39] OleMchls commented on #11
Hey @NobbZ while I totally see your point, I see quite some obstacles to overcome here:
First, we do not have any recoding equipment, and equipment at hand might and will differ per location. Second, I personally do not have the time to organise recordings/equiment and take care of the editing.

I'd totally be in, if we find someone who'd volunteer for organizing. On the other hand we planned hh.e

[2016-03-30 07:39] #11 closed

[2016-03-30 18:05] BjRo commented on #6
@nesQuick It looks like we have to re-arrange regarding the location (at least a bit).

I talked to the office ladies again this morning and received some new, unfortunate news. Our meetup room at XING is booked for another event until 18:00 on the 26.04. (That part I was aware of and thought it wasn't a problem). The new part for me is that the event is organized together with an external agency

[2016-03-30 18:19] markschmidt commented on #6
We could also use one of the bigger meeting rooms (like Reeperbahn / space for 20 people). I think even with a few more people then yesterday, it would work quite good. And the chairs are much better then what we would sit on in the event room.

Assuming of course the room is free that evening.

[2016-03-30 18:23] BjRo commented on #6
@markschmidt Yeah, thought about that as well.  Might be harder to navigate external people to rooms other than the event room, tough :-)

[2016-03-30 18:25] markschmidt commented on #6
Mh, true... That's not ideal.

[2016-03-30 18:47] dszam commented on #6
I could check tomorrow, if our Lounge is free on 26.04. We then could just swap the meetings. Then you would host it on may 31st.

[2016-03-30 19:04] BjRo commented on #6
@dszam Awesome, that sounds like a plan. I'll check tomorrow whether the May 31st is available on our side.

[2016-03-30 21:17] OleMchls commented on #6
@dszam @BjRo yup, awesome <3

[2016-03-31 07:55] dszam commented on #6
allrighty! From my side everything is ready to host the meetup on 26.04. at SABIO.

Cheers Dirk

[2016-03-31 09:40] BjRo commented on #6
Fixed on our side as well. We're switching to 31st of May. We'll only have to start 30min later (letting people in at 18:30 and starting at 19:00) because there's also another appointment in the room before us. This time no big cleanup necessary though :)

Special thx to @dszam for making this switch possible!

[2016-03-31 19:11] h4cc commented on #3
Slides can be found here: https://github.com/h4cc/porting-slugger-library-to-elixir-presentation

[2016-03-31 19:39] OleMchls commented on #3
Awesome, thanks @h4cc so I'm going to close this one here, and thanks for your talk!

[2016-03-31 19:39] #3 closed

[2016-03-31 19:45] OleMchls commented on #7
May and April meet up just changed locations (see #6) now may at Xing with @BjRo

[2016-03-31 19:45] OleMchls commented on #6
@dszam @BjRo alright, awesome. Glad it worked out that easily :) Just adjusted meetup.com and github :+1:

[2016-04-07 21:39] domenicolino opened #13 "Tail Call optimization"
I'm very new to the topic and for that reason I'd like to give a talk about tail call optimization. The idea is to learn by talking about it.
I'd like to make some benchmarks, understand what is the problem behind, and try to be able to explain it.

[2016-04-14 09:20] h4cc commented on #13
This could lead to a matching coding kata on that topic.

[2016-04-15 14:35] OleMchls commented on #13
@domenicolino I think this sounds like a great talk (format). We have the agenda already set for the May edition. And we also have two more proposals pending, so it could take a few more month to actually assign your talk to a month/edition.

@h4cc sure thing! you have something special in mind?

[2016-04-15 14:46] OleMchls commented on #6
finished the description on meetup.com and also announced it (still not sure what this _really_ does, tho)

[2016-04-23 17:11] h4cc commented on #6
I've send a tweet today: https://twitter.com/HamburgEx/status/723822183659745280
Plan to send another reminder on monday.

[2016-04-23 17:53] h4cc commented on #6
This meetup is mentioned in the Elixir Newsletter Issue 46: https://app.rdstation.com.br/mail/3bf0988a-8afe-4862-acdb-73255024fb48

[2016-04-24 08:01] BjRo commented on #6
While searching for some additional Katas for us (turns out finding a metaprogramming kata is pretty hard) I stumbled over http://exercism.io/languages/elixir.

If we don't come up with something kata-wise, always a good fallback. `anagram` for example seems to be matching our current group expertise quite well.

[2016-04-25 10:41] OleMchls commented on #6
@h4cc yeah, I've talked with Plataformatec, we will be in all future Elixir Radar newsletters, they somehow extract infos from meet up. Also huge thanks for the tweet and talking care of the account, for a second I was surprised who the account came to this tweet but then I remembered 😆

[2016-04-25 10:42] OleMchls commented on #6
@BjRo yeah, we don't have a kata for tomorrow yet. bus this is what I want to do now. If you have something in mind which related to your talk, even from exercism.io please let me know :)

[2016-04-25 10:45] OleMchls commented on #7
just created the meetup.com event

[2016-04-25 10:46] OleMchls commented on #7
@bjro what's the exact address for meetup.com?

[2016-04-25 10:48] OleMchls commented on #6
Brain dump: that's a great one for Elixir 1.3 http://exercism.io/exercises/elixir/meetup/readme

[2016-04-25 17:39] BjRo commented on #6
So, I didn't find anything kata like in regard to macros / meta programming. The meetup kata is definitely interesting. Haven't played with the new Date, Calender modules yet. Feel free to pick!

[2016-04-25 17:42] BjRo commented on #7
That would be Spielbudenplatz at

XING AG
Dammtorstraße 30
20354 Hamburg

[2016-04-25 17:49] dszam commented on #6
@nesQuick are there any templates for the location "signs" where to meet or shall I do it freestyle?

[2016-04-25 21:29] OleMchls commented on #6
Just go freestyle. I could also send you our logo tomorrow

Sent from my iPhone

[2016-04-26 11:38] dszam commented on #6
@nesQuick it would be fine, if you could upload it in the repository

[2016-04-26 13:42] OleMchls commented on #6
@dszam just added the logos https://github.com/hh-ex/planning/tree/master/logo sorry for the short notice :)

[2016-04-26 14:05] OleMchls commented on #6
I did a quick n dirty kata http://bit.ly/hhex-kata-april-2016 I think this one is going to be fun!

[2016-04-29 11:15] #6 closed

[2016-04-29 11:17] #5 closed

[2016-04-29 11:21] OleMchls commented on #4
@zweizeichen would you be up for his one in May?

[2016-04-29 11:30] OleMchls commented on #7
Let's see if we can get @zweizeichen's talk #4 as a starter. And afterwards we'd like to introduce something new:

## Bring your code - Collaborative Elixir Code Review

Everyone is invited to bring some code along, wether it may be a complete project, a lib or just a gist. Bring it along with some questions and we will do a collaborative code review. We could dig into OTP idiomatics, process stru

[2016-04-29 18:23] nesQuick opened #15 "Katas"
# idea
As we are doing coding Katas quite often I'd like to have a new way to get them organized. We should have a list in this issue. So we have all Katas we did and we can choose from in one place.

# how to write a kata
A kata is a self contained problem in one github repository. Preferably in the `hh-ex` namespace. Each Kata should contain a Readme describing the kata. Including some pieces of

[2016-05-01 15:26] zweizeichen commented on #4
Sounds great! I'll prepare the slides, maybe I can bring some code along for afterwards - I already have an idea.

[2016-05-01 15:51] OleMchls commented on #4
Your abstract sounds kinda big. Please keep the two under 30 minutes.

After the talk we wanted to do something different this time: https://github.com/hh-ex/planning/issues/7#issuecomment-215688774

[2016-05-01 18:50] h4cc commented on #7
We could also announce the existence of this slack channel: https://elixir-lang.slack.com/messages/hamburg/ :smile:

[2016-05-02 16:05] zweizeichen commented on #4
Yup - most of the topics might be a single slide anyway. I know that we planned to do a bring your code session afterwards - what I meant was that I might have code for that from the project I'll be presenting.

[2016-05-06 10:43] LydG opened #16 "June Edition"
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)

- **Date:** June 28th
- **Location:** Ubilabs @KlausTrainer

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Show your elixir production apps
- Kata
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2016-05-06 10:44] LydG opened #17 "July Edition"
- [x] Create meetup.com event
- [x] Agenda
- [ ] prepare katas if applicable
- [x] Location
- [ ] Announce meetup.com event (triggers mail)

- **Date:** July 26th
- **Location:** Jimdo

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk: [Implementing binary protocols with Elixir](http://www.elixirconf.com/2016/speakers.html#michaelis) by @nesQuick
- [dtgcaa kata](https://github.com/hh-ex/kata-

[2016-05-06 10:47] LydG opened #18 "August Edition"
- [x] Create meetup.com event
- [x] Agenda
- [ ] prepare katas if applicable
- [x] Location
- [ ] Announce meetup.com event (triggers mail)

- **Date:** August 30th
- **Location:** Jimdo

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- 19:00 Open Discussion
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2016-05-06 19:54] KlausTrainer commented on #15
Hi everybody! I've created a new kata, and I'm looking for feedback: https://github.com/hh-ex/kata-dtgcaa

Is it too short, too easy, or too hard? Does it require too much context?

I'd be happy about your feedback!

[2016-05-07 11:31] h4cc commented on #15
@KlausTrainer Very interesting and usefull Kata, maybe some more inline docs might help understanding private functions faster. Took me some time reading the code to get a idea what `parse` and `read_blocks` do.

[2016-05-07 11:34] h4cc commented on #15
Found a article about "kata driven meetup" that seems usefull für HamburgEx (havent read it yet):

https://medium.com/@mohnishgj/learnings-from-facilitating-a-ruby-meetup-where-people-solved-an-exercism-kata-via-pair-programming-39c78113b86b

[2016-05-07 20:44] KlausTrainer commented on #15
Thanks @h4cc for the feedback :)

My intention is that people actually read the private functions and figure out what they do. That said, I'd like to make them as understandable as possible. Adding a few comments is a good hint, and I'll try to address that!

[2016-05-08 22:45] KlausTrainer commented on #15
@h4cc Just pushed an update. Maybe you'd like to take a look ;)

[2016-05-09 09:20] h4cc commented on #15
@KlausTrainer Easier to understand now, great! But its still a kata for at least intermediate elixir programmers IMHO.

I like that `defmacrop` :)

[2016-05-10 09:37] KlausTrainer commented on #15
@h4cc Yes, I also think that it's target audience is intermediate level Elixir programmers.

One could probably make it more accessible by adding some context, however. Maybe give a short introductory talk about Elixir's [`Stream`](http://elixir-lang.org/docs/stable/elixir/Stream.html) module and the [`Enumerable`](http://elixir-lang.org/docs/stable/elixir/Enumerable.html) protocol. Alternatively,

[2016-05-11 13:52] KlausTrainer commented on #15
Just added a corresponding [Helpful Resources](https://github.com/hh-ex/kata-dtgcaa#helpful-resources) section to the [dtgcaa kata](/hh-ex/kata-dtgcaa) README.

[2016-05-16 20:19] OleMchls commented on #7
@h4cc yeah! You should properly remind me at the event day :)

[2016-05-16 20:21] OleMchls commented on #7
I'd like to reserve a few minutes at the beginning to have everyone who attended ElixirConf Eu to give the group a little review / conf report. What talks stuck in your head and which should everyone watch the videos. Maybe @LydG has a good idea how to organise that, if not we'll do freestyle 💃

[2016-05-16 20:34] OleMchls commented on #7
yeah, just announced the meet up: http://www.meetup.com/Elixir-Hamburg/events/230629368/

[2016-05-17 08:12] h4cc commented on #7
Tweeted about the next meetup: https://twitter.com/HamburgEx/status/732483017025847296

[2016-05-17 09:47] OleMchls commented on #7
Awesome. Thanks!

Two thoughts while I was reading this:
- we should add Twitter promo to the Github issue template
- we should announce / explain the bring your code thing on Twitter as well

Cheers!

Sent from my iPhone

[2016-05-17 22:07] OleMchls commented on #7
Did the Bring your code promo toot: https://twitter.com/HamburgEx/status/732693766478417920

[2016-05-20 14:30] BjRo opened #19 "Build your own GenServer"
...which is something you'd never ever want to try in the real world :-)

The basic idea of the talk would be to built an own (of course not feature complete) version of `GenServer` kinda from scratch. We would discover together why the GenServer API is structured the way it is. Once you understand the basics, in my opinion, everything falls nicely into place.

Could even have nice follow-up with

[2016-05-20 14:33] BjRo commented on #19
@nesQuick Is it possible that you're the only one currently who can assign lables? Somehow the UI doesn't allow it for me currently...

[2016-05-21 12:44] KlausTrainer commented on #15
Also added a [Hints](https://github.com/hh-ex/kata-dtgcaa#hints) section to the dtgcaa kata README, which should make it a bit easier as well.

[2016-05-22 16:31] OleMchls commented on #19
@BjRo definitely possible, I changed some permissions now. can you please check again?

[2016-05-24 08:20] BjRo commented on #19
@nesQuick Nope, still not working. I don't see the checkboxes in front of the issues in the overview.

[2016-05-24 08:22] BjRo commented on #7
@nesQuick Can we update the meetup description. To have open doors half an hour later? The meetup room is booked until 18:30 on our side. 18:30 open doors and 19:00 welcome would be awesome

[2016-05-24 09:02] LydG commented on #7
@BjRo Sure no problem. I changed it.

[2016-05-24 16:09] OleMchls commented on #7
<3

Sent from my iPhone

[2016-05-24 19:29] OleMchls commented on #19
@BjRo It's probably because you did not had write access to this repo. I created a `members` team granted you and @h4cc write access. So this should now really fixed it 👍

[2016-05-24 19:29] OleMchls commented on #19
btw I really do like the talk!

[2016-05-25 07:14] BjRo commented on #19
@nesQuick @h4cc 👍 Works like a charm. Thx!

[2016-05-26 11:40] igl commented on #4
@zweizeichen The talk is going to be in english right?

[2016-05-26 12:32] zweizeichen commented on #4
I finished the slides yesterday and they are in English, however I can hold the talk in German if no one who prefers English is present.

[2016-05-26 13:04] OleMchls commented on #4
Yup. That's the why is like to do it as well. English as default if everyone present speaks German we could do that as well :)

Sent from my iPhone

[2016-05-26 13:37] igl commented on #4
I am trying to pursue some non-german coworkers to come and infect them with elixir. :) i am happy with english.

[2016-05-26 14:08] OleMchls commented on #4
Do it. AS I said we default to English :)

Sent from my iPhone

[2016-05-27 18:53] h4cc commented on #4
@zweizeichen I can recommend training the presentation in english more than once - will help for sure :)

[2016-05-31 14:26] h4cc commented on #7
Another tweet with open doors for 18:00: https://twitter.com/HamburgEx/status/737650943756521472

[2016-05-31 14:32] BjRo commented on #7
@h4cc It's actually 30 minutes later. Please fix! 😄

[2016-05-31 14:38] h4cc commented on #7
Fixed Tweet: https://twitter.com/HamburgEx/status/737653930784608257

@nesQuick Please update the meetup description please for open doors 18:30 http://www.meetup.com/de-DE/Elixir-Hamburg/events/230629368/

@BjRo Thanks!

[2016-05-31 17:06] OleMchls commented on #7
Yeah. I some how completely missed it.

Sorry!!!

Sent from my iPhone

[2016-06-03 07:38] zweizeichen commented on #4
https://slidr.io/zweizeichen/taming-the-api-scraper-from-hell#1

[2016-06-03 07:38] zweizeichen commented on #4
I guess we can close this now

[2016-06-14 11:00] #7 closed

[2016-06-14 11:02] OleMchls commented on #16
Talking about the location, Jimdo is unfortunately not available this month. So we would need a different location. Paging @dszam here, would SABIO be a option? If not, we could again meet at Xing? @BjRo ?

[2016-06-14 12:04] OleMchls commented on #16
Also talking about the agenda. One thing we wanted to do, is talking about Elixir in Production. What does that mean: I'd like to invite everyone who already runs a Elixir app in production, to show everyone a little demo and answering a hand full of questions, showing why Elixir in this case is and was a great choice. Here is the list of questions I thought of:
- What does your app do? (Give some

[2016-06-14 12:12] narrowtux commented on #16
I work with @arvidkahl and we always wanted to contribute something to a meetup. I'll talk to him about what we could show.

[2016-06-14 12:22] KlausTrainer commented on #16
I can also offer hosting the meetup at Ubilabs.

[2016-06-14 12:23] OleMchls commented on #16
Yay! Ubilabs would be awesome!

On Tue, Jun 14, 2016 at 2:22 PM, Klaus Trainer notifications@github.com
wrote:

[2016-06-14 12:23] OleMchls commented on #16
@narrowtux yes please :)

[2016-06-14 12:24] OleMchls commented on #16
@KlausTrainer do you need to double check or could I just go ahead and announce the venue? Because with that agenda and location would be set :)

[2016-06-14 12:25] KlausTrainer commented on #16
@nesQuick No double check required, at least as long as I'm hosting it, which I'll happily do :) Feel free to announce!

[2016-06-15 13:23] BjRo commented on #16
In principle I would like to talk a bit about our setup/app. I need to clarify though, how much I am allowed to show from our application. I'll ping you, if I get a green light.

[2016-06-15 20:30] OleMchls commented on #16
I'd also happily take any pointers to people within our community who run a elixir app in production and would participate :)

@KlausTrainer  💖
@BjRo 👍

[2016-06-15 20:32] OleMchls commented on #17
@LydG Jimdo is set this time?

[2016-06-15 20:39] OleMchls commented on #16
Just announced the meet up: http://www.meetup.com/Elixir-Hamburg/events/231538492/

[2016-06-16 08:37] LydG commented on #17
Jepp it is. It is In the official calendar. 🎉

[2016-06-19 10:27] OleMchls commented on #17
I already created the meetup event 👍

[2016-06-19 10:31] OleMchls commented on #16
@BjRo any news?

So far I have @narrowtux and myself "on the list" I think we could do one more :) So if anyone knows some one, please send them here :D

[2016-06-19 17:47] BjRo commented on #16
@nesQuick Unfortunately not. I'm in the process of clarifying. Will come back to you in the next few days.

[2016-06-19 18:43] nesQuick commented on #16
✨

[2016-06-20 09:42] narrowtux commented on #16
I talked with Arvid today and we agreed that we want to do something, we just don't know exactly what yet.

[2016-06-20 10:11] OleMchls commented on #16
I think answering the questions above won't take that much preparation :)

Sent from my iPhone

[2016-06-20 12:08] narrowtux commented on #16
True. I will use that as a guideline for the slides.

[2016-06-23 18:24] #4 closed

[2016-06-23 18:29] BjRo commented on #16
From XING side we got a green light today. Unfortunately I won't be able to make it to the meetup though, because of a short notice private appoinment.

Would have loved to show our app and also see the others. Maybe we can repeat this somewhere in the future?

[2016-06-25 07:34] h4cc commented on #17
I send the tweet: https://twitter.com/HamburgEx/status/746607276312657920

This should be at "june", sorry.

[2016-06-25 15:53] OleMchls commented on #17
Awesome thanks! ❤️

Sent from my iPhone

[2016-06-28 15:27] OleMchls commented on #16
@BjRo yeah, sure, I hope we can do this on a more regular basis. We _just_ need more people having a production Elixir app :)

[2016-06-28 15:32] OleMchls commented on #16
As I just "figured" we need a kata, we have a a kata repository. @KlausTrainer could you moderate thou your [dtgcaa kata](https://github.com/hh-ex/kata-dtgcaa)?

[2016-06-28 15:34] OleMchls commented on #16
Otherwise I'd just pull the [sleep sort kata](https://github.com/hh-ex/kata-sleepsort)

[2016-06-28 15:37] KlausTrainer commented on #16
@nesQuick Yes, I can moderate the kata :)

[2016-06-28 16:27] nesQuick opened #20 "Coding: work on open source together"
like ROSSCONF http://www.rossconf.io

open source maintainer show their libraries and attendees work on it afterwords together

[2016-06-28 16:30] OleMchls commented on #17
As I will give a talk at Elixir Conf US at September 2nd and I won't be here for August edition I want to test drive my talk: [Implementing binary protocols with Elixir](http://www.elixirconf.com/2016/speakers.html#michaelis)

[2016-07-15 08:29] OleMchls commented on #15
@KlausTrainer sorry for the suuuuuuuper slow response, I just added the kata to the list above, and I'm looking forward solving it in one of the next meet ups :) And thanks for the kata, also huge thanks for @h4cc for the great feedback

[2016-07-15 09:26] KlausTrainer commented on #15
@nesQuick No worries. Cool! Looking forward to it, too :)

[2016-07-20 08:30] h4cc commented on #17
Lets update meetup.com and announce?

http://www.meetup.com/de-DE/Elixir-Hamburg/events/232002451/

[2016-07-20 10:01] OleMchls commented on #17
We'd need a 2nd agenda item, did we agree on the kata from @KlausTrainer ? My talk will be a bit longer (40 mins) I guess plus feedback I'd like to receive to a long kata might be a bit "too much"

opinions? @LydG @h4cc @KlausTrainer

[2016-07-22 09:50] #16 closed

[2016-07-22 09:50] OleMchls commented on #18
We might have a little problem here, neither me nor @LydG are available for the August meet up. Any takers? @h4cc @KlausTrainer :))

[2016-07-22 09:53] h4cc commented on #18
You mean for Location or Moderation?

[2016-07-22 09:58] h4cc commented on #17
How about a "smaller" binary constructing/patternmatching kata?
Something more simple, like a very easy binary protocol send over UDP or something...

[2016-07-22 10:03] OleMchls commented on #17
@h4cc Yeah, that'd be great. Would you prepare something? Or maybe just use the `binary rfc sigils tbd` I wanted to do anyway :)

We just added the details to meetup.com and it seems meet up automatically announces the UG :( Anyway, hopefully the great meet up details will reach everyone :)

I also announced it on twitter: https://twitter.com/HamburgEx/status/756428510806282240

[2016-07-22 10:04] OleMchls commented on #18
Taking general care of the meet up, we could organise it together, but we
are both out of town for the meet up. I'm sure we will find a location. We
have like ~4 default ones we can use :)

On Fri, Jul 22, 2016 at 11:53 AM, Julius Beckmann notifications@github.com
wrote:

[2016-07-24 15:01] h4cc commented on #15
Added a short Kata on binary pattern matching: https://github.com/hh-ex/kata-binary

Solution is in first commit.

[2016-07-24 15:01] h4cc commented on #17
@nesQuick Like this? https://github.com/hh-ex/kata-binary

[2016-07-24 20:35] OleMchls commented on #17
This is awesome. I love it. Thanks man!

Sent from my iPhone

[2016-07-25 05:17] h4cc commented on #17
Do we have WiFi and Internet at the Location? People will need this to find binary Header Information.

I could prepare a short introduction to the kata.

[2016-07-25 05:32] OleMchls commented on #17
We will have wifi. The task should be described in the readme. But you are very welcome to give a short introduction :)

Sent from my iPhone

[2016-07-25 07:22] OleMchls commented on #15
I'd rather move the solution into a separate PR, so people are not
confronted with them when they "just" pull the repo. f you'd add travis CI
for testing and especially PR testing, we can see if the tests pass for the
solutions presented using the github PR UI :)

On Sun, Jul 24, 2016 at 5:01 PM, Julius Beckmann notifications@github.com
wrote:

[2016-07-25 18:50] h4cc commented on #17
Added the wikipedia pages in `docs/`.
Added some hints in README.
Created a Pull-Request with the solution.
Added Travis-Ci.

[2016-07-27 08:04] nesQuick opened #21 "Add Elixir Cocktail receipt to repo"
a clear responsibility here 😉 @LydG

[2016-07-28 07:56] #17 closed

[2016-07-28 07:57] OleMchls commented on #18
just secured Jimdo as location again <3 After Septembugers, Sabio already invited us, and I'd also love to hang out at Xing (@bjro) again :+1:

[2016-07-28 08:02] nesQuick opened #22 "Septemburgers"
We want to do something different than talks and coding all the time, so let's have burgers together!

What needs doing?

- [x] Burger place
- [x] meetup.com event
- [x] should we charge to reduce no-show

[2016-07-28 08:02] OleMchls commented on #18
also just created the meetup.com event

[2016-07-29 08:10] nesQuick opened #23 "meetup.com sponsorship"
Hey all,

We pay **$4.99/month** for meetup.com at the moment the costs are covered by me. But I wanted to see if we could find a official sponsor for that.
## What's in for your company?

All user group sponsor are listed on our official meetup.com page in the left side bar. Also I'd add a logo, link and note to the readme.md of this repo.

 🎉 ✨

[2016-07-29 08:18] narrowtux commented on #22
Bürger Place suggestion:

PETER PANE Turnhalle Hamburg Burgergrill & Bar
Lange Reihe 107, 20099 Hamburg
040 28008535
https://goo.gl/maps/QcHgmLe8r2o

[2016-08-01 05:32] cnigischer commented on #23
Would the logo/link also be visible in the mobile app?

[2016-08-01 07:26] OleMchls commented on #23
@cnigischer I don't really know because I do not use the mobile app. You could check the PHPHHUG group they have a few sponsors listed. If these appear in the mobile app as wel

[2016-08-08 15:40] LydG commented on #21
Tada 🎉 https://github.com/hh-ex/planning/blob/master/cocktail.md 🎉

[2016-08-08 15:40] #21 closed

[2016-08-12 08:27] h4cc commented on #18
I think August should keep it low because of the Sommerloch, so we do not misspend one of the talks.
How about a simple meetup without a planned talk and more like a "bring your own topic"? + beer of course.

When Septemburger will be at Jimdo and after that SABIO has offered, how about Ubilabs?
@KlausTrainer Would that be ok to have August 30th at Ubilabs?

[2016-08-12 14:56] Haroenv opened #24 "Add a link to elixir"
It might be obvious to you, but I stumbled upon this via Twitter, and didn't know what Elixir was yet, might be useful to list it somewhere here?

[2016-08-12 14:57] #24 closed

[2016-08-12 14:58] OleMchls commented on #24
sounds legit. thanks for the contribution!

[2016-08-12 14:58] Haroenv commented on #24
With pleasure

[2016-08-16 13:26] h4cc commented on #18
Uhh, so Ubilabs can not host August meetup.
Any idea for a location other than Jimdo or Sabio?

[2016-08-16 15:04] OleMchls commented on #18
Jimdo is already booked so why are you searching for a location? It was just a effort to help organising

[2016-08-16 15:07] OleMchls commented on #18
Would be fine for me. But that's a format which would need some more moderation. If that's fine for you, I'd just go and write the meetup description.

[2016-08-23 15:34] h4cc commented on #18
Wrote the Meetup description. Going to announce tomorrow on meetup.com and twitter.

Still thinking if a small kata would fit....

[2016-08-23 22:10] OleMchls commented on #18
Awesome, thanks for jumping in on this one! <3

On Tue, Aug 23, 2016 at 5:34 PM, Julius Beckmann notifications@github.com
wrote:

[2016-08-23 22:10] OleMchls commented on #18
I think a small kata might be fun!

On Wed, Aug 24, 2016 at 12:09 AM, Ole Michaelis ole.michaelis@gmail.com
wrote:

[2016-08-25 07:55] h4cc commented on #18
Announced!

[2016-08-25 07:56] OleMchls commented on #18
awesome <3

On Thu, Aug 25, 2016 at 9:55 AM, Julius Beckmann notifications@github.com
wrote:

[2016-08-25 07:56] h4cc commented on #18
I am working on a small kata for GenServer that will hopefully bring a different perspective on working with processes.

[2016-08-25 07:58] OleMchls commented on #18
Sweet! You could also just take one from the list in the kata issue, would
save some time. Just in case

On Thu, Aug 25, 2016 at 9:56 AM, Julius Beckmann notifications@github.com
wrote:

[2016-08-28 16:30] h4cc commented on #18
There is a kata for GenServers now: https://github.com/hh-ex/kata-genserver-basics
Hope it is not too much, it will be the second part of my topic for the "open discussion".

[2016-09-12 21:24] OleMchls commented on #22
We'll be at Burger Lab, even tho they do not take reservations. We will just show up a bit earlier and make it work :D Also I created Meetup event and tweeted, as one does :D

[2016-09-12 21:31] fsmanuel commented on #22
LGTM!

[2016-09-26 06:18] h4cc commented on #22
Another tweet: https://twitter.com/HamburgEx/status/780290303651618816

[2016-09-28 08:25] #18 closed

[2016-09-28 08:25] OleMchls commented on #22
well that was fun 🎉

[2016-09-28 08:25] #22 closed

[2016-09-28 09:12] narrowtux opened #26 "Parsing formulas and reducing their AST"
I made a talk demonstrating the basics of my library @narrowtux/abacus at august edition and would like to show it again to a bigger audience.

Topics:
- writing lexers with :leex
- writing parsers with :yeec
- reducing the syntax tree to the solution of the formula (and to other things)

[2016-09-30 19:56] h4cc commented on #26
Aint that some nice elixir code? :)
https://github.com/narrowtux/abacus/blob/master/lib/eval.ex

[2016-10-04 21:05] nesQuick opened #27 "October Edition"
# Plan
- [x] Create meetup.com event
- [X] Agenda
- [x] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** October 25th
- **Location:** SABIO with @dszam

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Parsing formulas and reducing their AST by @narrowtux
- BYOP - Bring your own Problem
- Hang out and have beers, coke, mate or wha

[2016-10-04 21:06] nesQuick opened #28 "November Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] Write Sheila Chang sheila.chang@plataformatec.com.br to include it in Elixir Radar
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** November 29th
- **Location:** XING with @BjRo
# Notes:
- Special guest @rrrene 🎉
- No December Edition

Agenda:
- 18:00 Open the doors
- 18:30

[2016-10-04 21:07] OleMchls commented on #27
pinging @dszam here

[2016-10-04 21:08] nesQuick opened #29 "January Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] Write Sheila Chang sheila.chang@plataformatec.com.br to include it in Elixir Radar
- [ ] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** January 31st
- **Location:** ePages @erikmueller

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate o

[2016-10-04 21:08] nesQuick opened #30 "February Edition - 1st Anniversary"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** February 28th
- **Location:** Sabio with @dszam

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Meet our guest: Tobias Pfeiffer
- The hh.ex vindinium challenge: half-time report
- Talk: How fast is it really? Benchmarking in prac

[2016-10-04 21:09] OleMchls commented on #30
We need something special for our first birthday 🎉 Ideas welcome!

[2016-10-04 21:09] nesQuick opened #31 "March edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [ ] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** March 28th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2016-10-04 21:10] nesQuick opened #32 "April Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [ ] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** April 25th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2016-10-04 21:10] nesQuick opened #33 "May Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
# Execute
- **Date:** May 30th
- **Location:** [Zenner IoT Solutions](https://goo.gl/maps/oAVvJoXjMTt)

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- BYOP
- Kata: Flow
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2016-10-04 21:11] OleMchls commented on #28
also pinging @BjRo for the venue :)

[2016-10-04 21:20] OleMchls commented on #28
yay, happy to announce @rrrene as our guest and speaker!

[2016-10-04 21:26] OleMchls commented on #28
Here is the idea we have for the agenda:
First @rrrene will give a short talk with a open questions round afterwards. Then everyone will spin up their laptops and rrrene will give us a intro into [credo](https://github.com/rrrene/credo) with a handful of starter issues labeled with `hh.ex` and we can help him doing some cool additions to credo.

[2016-10-04 21:32] OleMchls commented on #8
@markschmidt would you be in to give this at this october edition? #27

[2016-10-04 21:40] OleMchls commented on #27
location and meetup event are set. just checking for a fitting talk, maybe #8

[2016-10-04 21:43] OleMchls commented on #28
@rrrene please let me know if you are happy with the agenda items, I'd like to create the meetup event asap :) So we get a bunch of people together

[2016-10-05 06:14] rrrene commented on #28
@nesQuick LGTM. Looking forward to catching up with my ElixirFriends @BjRo and @h4cc as well 😆

[2016-10-05 07:19] markschmidt commented on #8
@nesQuick sorry, but I won't find time for that currently 😫

[2016-10-05 08:32] nesQuick opened #34 "BYOP - Bring your own problem"
[code]

[2016-10-05 08:33] OleMchls commented on #34
We will do this in #27

[2016-10-05 08:41] OleMchls commented on #13
@domenicolino we are looking for a talk for #27 would you be in for that?

[2016-10-05 09:00] OleMchls commented on #8
alright, so we delay it to other meetup :)

On Wed, Oct 5, 2016 at 9:19 AM, Mark Schmidt notifications@github.com
wrote:

[2016-10-05 21:12] OleMchls commented on #27
We are still looking for a talk. I already asked @domenicolino for #13 , what about #19 @BjRo ?

[2016-10-08 20:42] nesQuick opened #35 "Format: Write vindinium AI"
I just discovered vindinium and also just wrote the elixir client for it: https://github.com/nesQuick/vindinium-elixir-starter

Maybe we could go and write some nice AIs in Elixir all together 🎉

[2016-10-08 20:43] OleMchls commented on #35
I'd love to get some feedback on this idea!

[2016-10-09 07:55] zweizeichen commented on #35
Sounds like a whole lot of fun! I like that idea a lot!

[2016-10-09 13:16] h4cc commented on #35
Cool thing! My first idea would be a bot that will try to detect one of the 6 public maps and optimize this way ;)
https://github.com/ornicar/vindinium/blob/master/app/Maps.scala

[2016-10-10 10:47] domenicolino opened #36 "talk about how to reduce complexity of the software on November 1st"
Hi guys, there will be a meetup at Jimdo on november the 1st that mainly regards Functional Programming. We'll talk about a paper from Ben Moseley and Peter Marks about how complexity lies at the root of software problem(May be someone knows Ben Moseley from the Haskell World)
The talk suggests a polyglot architecture to control complexity, where the business model(at least) is tackled in a functi

[2016-10-10 19:37] OleMchls commented on #27
Pinging @domenicolino @BjRo @narrowtux as you folks have a open `talk proposal` :) Any takes, first come first serve :)

[2016-10-10 19:38] narrowtux commented on #27
First
Ole Michaelis notifications@github.com schrieb am Mo. 10. Okt. 2016 um
21:37:

[2016-10-10 19:40] OleMchls commented on #27
@narrowtux true. So we are looking forward to your talk, please keep it <30 minutes. I'll add you to the meetup page and stuff asap :)

[2016-10-10 19:47] OleMchls commented on #27
Also tooted: https://twitter.com/HamburgEx/status/785567262942035968

[2016-10-10 19:47] OleMchls commented on #27
And announced on meetup

[2016-10-10 19:54] BjRo commented on #28
@rrrene Likewise, looking forward to your visit!

[2016-10-13 12:55] OleMchls commented on #28
@BjRo just confirmed the location

[2016-10-19 21:30] OleMchls commented on #28
This will appear in the next Elixir Radar as well. How strange this is :D

[2016-11-07 11:10] #27 closed

[2016-11-07 11:18] #36 closed

[2016-11-07 11:19] OleMchls commented on #28
Alright, time to announce on meetup:

[code]

[2016-11-07 11:24] OleMchls commented on #28
Announced in meetup. Ready to go 🎉

[2016-11-07 11:38] rrrene commented on #28
@nesQuick missed a small typo: `code listing tool` should probably be `code linting tool`.

[2016-11-07 14:09] OleMchls commented on #28
Darn autocorrect. And neither mobile apps nor mobile website allowed me to
change it. Now its fixed

[2016-11-25 09:36] BjRo commented on #28
I've been sick with a heavy flu for the last 2 weeks and will still be on sick leave next Tuesday.  Bummer, that I'm going to miss the opportunity 😭

However, @certainty (David Krentzlin) will jump to the rescue from __XING__ side. Please coordinate with him for the next meetup.

[2016-11-25 09:49] OleMchls commented on #28
@BjRo noooooooo! 😢

Glad @certainty can jump in so we are still good with the venue :)

[2016-11-25 09:52] certainty commented on #28
I am happy to jump in :)

[2016-11-28 14:08] h4cc commented on #28
@rrrene When will the issues be tagged? https://github.com/rrrene/credo/issues

[2016-11-28 14:12] rrrene commented on #28
Probably tonight. The problem is that there are actual people on the interwebs solving these problems.

3 issues I had in mind are already pull requested into oblivion, so I will try to come up with a mix of beginner and advanced issues for tomorrow and tag them tonight/tomorrow morning.

Another option is to report problems you face when running Credo on your own projects. The meetup will be a pe

[2016-11-29 12:36] h4cc commented on #28
Found some Issues marked with `hh.ex` already :)
https://github.com/rrrene/credo/issues?q=is%3Aissue+is%3Aopen+label%3Ahh.ex

[2016-11-29 12:40] NobbZ commented on #28
I'm curious if we manage to close them all ;)

[2016-11-29 12:41] rrrene commented on #28
That'd be a bit much, but I'm generally curious how diverse the group will be in terms of experience with Elixir. I'm not sure if I have "real" beginner issues in there ...

Maybe I can think up some on the ride to Hamburg :+1:

[2016-11-30 07:24] h4cc commented on #28
Photos are uploaded: https://www.meetup.com/de-DE/Elixir-Hamburg/events/234626938/

[2016-11-30 08:14] OleMchls commented on #28
Wooot! Sweet thank you very much @h4cc ✨

Also a huge thanks to @rrrene for making this a super nice closing for hh.ex for 2016 🎅

[2016-11-30 08:14] #28 closed

[2016-11-30 08:15] OleMchls commented on #29
At the November edition @erikmueller suggested that e-pages would host this edition. So @erikmueller would this date work for you?

[2016-11-30 08:17] erikmueller commented on #29
I'll check and get back to you.

[2016-11-30 08:18] OleMchls commented on #29
👍

[2016-12-06 07:31] erikmueller commented on #29
👌

[2016-12-06 10:37] OleMchls commented on #29
@erikmueller I take this as a go, so I'll create the meetup event. Any special instructions for the attendees?

[2016-12-06 10:47] OleMchls commented on #29
I just created the meetup.com event and checked the location box 🎉

[2016-12-06 10:48] OleMchls commented on #29
I also wrote Sheila ✅

[2016-12-06 10:50] OleMchls commented on #29
Now let's talk about the Agenda: At the November meetup I heard voices to really do our vindinium challenge. I'm happy to do this, I'll check if I can find someone who can give us a brief game AI talk, or any volunteers?

[2016-12-06 12:14] erikmueller commented on #29
@nesQuick I'll add some instructions on how to get to the room as soon as we decided which one to take... Will probably be Brahms Kontor Holstenwall (if s/o's already interested)

[2016-12-06 13:21] OleMchls commented on #29
👍

[2016-12-08 07:53] OleMchls commented on #29
I had another idea. I know that at least some of use are doing Advent of Code (@h4cc @narrowtux and me) maybe we could incorporate that into our January meetup. Maybe the people who did some AoC can vote for their most favourite challenge and then we do a regular Kata with it. Or if someone has a different idea around that, I'm happy to hear it @hh-ex/members @hh-ex/organizers

[2016-12-08 11:34] h4cc commented on #29
There is an `#advent_of_code` channel in elixir-lang.slack.com where we discuss our solutions.

Ideas for the jan Meetup:
* Discussing and comparing different solutions for the same AoC challenge.
* For a Kata: Lets design our own challenge at the meetup itself.

[2016-12-08 12:24] narrowtux commented on #26
Uploaded the deck on slidr https://slidr.io/narrowtux/how-to-parse-expressions-with-leex-and-yecc-and-reducing-their-syntax-tree#1

[2016-12-08 14:11] OleMchls commented on #26
🎉 thanks, also as you did this talk already I'm going to close this

[2016-12-08 14:11] #26 closed

[2016-12-08 14:22] OleMchls commented on #29
@h4cc I know about the channel, thanks :)

I wonder how many attendees actually also did AoC. It might be pretty boring to look at solutions you've just heard about the problem.

[2016-12-10 21:01] erikmueller commented on #29
@nesQuick btw, just saw that the meetup.com event is scheduled for the 30th (Monday) but this issue says 31st.

[2016-12-12 09:37] OleMchls commented on #29
@erikmueller whoopsie! My bad! Thanks for the heads up. Just changed it to 31, which is obviously correct as it's the last Tuesday of the Month :)

[2016-12-12 10:44] PragTob opened #37 "Proposal: How fast is it really? Benchmarking in practice"
I gave this talk at Elixirlive and it was generally well received. It's general benchmarking advice intertwined with samples and benchee sample code (I'm the maintainer of [benchee](https://github.com/PragTob/benchee) - a benchmarking library for Elixir).

Would love to come to Hamburg some time, give the talk and then maybe work on benchee issues or do some collective benchmarking discovering int

[2016-12-13 10:32] narrowtux commented on #23
@digimondo confirmed

[2016-12-14 09:58] OleMchls commented on #23
@narrowtux that's great news! I'll check the next steps :)

[2016-12-14 09:59] OleMchls commented on #23
@narrowtux I'd need the following to add it at meetup.com

[code]

[2016-12-14 10:03] narrowtux commented on #23
![logo_s](https://cloud.githubusercontent.com/assets/616791/21177795/fdf80d10-c1ec-11e6-8429-669fe04250fb.png)

[2016-12-14 10:04] narrowtux commented on #23
120 x 90 px?

[2016-12-14 10:05] narrowtux commented on #23
![image](https://cloud.githubusercontent.com/assets/616791/21177854/4361b356-c1ed-11e6-85a8-0ad3afbb2902.png)

I downscaled it for you

[2016-12-14 10:08] OleMchls commented on #23
It's live!
<img width="909" alt="screen shot 2016-12-14 at 11 07 59" src="https://cloud.githubusercontent.com/assets/584259/21177960/9f4b4ba0-c1ed-11e6-88f1-fb32d97efb11.png">

[2016-12-14 10:08] OleMchls commented on #23
I'm in contact with meetup.com to organise the money part. I'll let you know once I figured it out 👍

[2016-12-14 10:09] narrowtux commented on #23
Neat!

[2016-12-14 10:12] OleMchls commented on #37
Thanks @PragTob – I'd love to plan this for February 28th, would this work for you? We could make it a similar event as we did with Credo: https://github.com/hh-ex/planning/issues/28#issuecomment-251518683 & https://github.com/hh-ex/planning/issues/20

[2016-12-14 10:13] narrowtux commented on #23
Sorry but I noticed that the logo is not crisp on Retina displays.

![image](https://cloud.githubusercontent.com/assets/616791/21178106/4ea899cc-c1ee-11e6-9e2f-1c56f241934b.png)

this one has double resolution can you see if that works?

[2016-12-14 10:16] OleMchls commented on #23
I just replaced it, did not seem to work. Could you verify?

[2016-12-14 10:17] narrowtux commented on #23
Yeah same here

[2016-12-14 10:18] OleMchls commented on #23
This platform sucks. I'll open up a support request

[2017-01-03 19:12] PragTob commented on #37
Oi! Sorry forgot to reply here :( I think that sounds good, just gotta check with my boss if it's fine for me to be remote/tardish or take a day off (started a new job) - but usually there are no problems. Also check if I can crush with some friends in Hamburg or take the last train back. I'll add a blocker to my calendar either way :)

[2017-01-03 21:05] OleMchls commented on #37
Sounds great. Let me know when you know for sure, so I will add this to #30

[2017-01-19 08:08] PragTob commented on #37
@nesQuick all sustems green, ready to launch. How long are the meetups usually? (Trying to figure out if I should aim for last ICE back home, which is rather early or hit some friends up for couch opportunities)

[2017-01-19 12:15] OleMchls commented on #37
Well, on this edition this obviously depend on you. But as we do start kind of early for a UG ~18:30 we are often done with the programming around 21:30/22:00 and hang out for beers and drinks for about a hours more. Hope this helps

[2017-01-26 11:37] OleMchls commented on #29
I just published the agenda:

We will do a recap of Advent of Code together. I hope people will bring their solutions and favourite  tasks. As I stopped somewhere around Day 7.

Afterwards we will do some Game AI programming with http://vindinium.org I prepare a kickoff for that.

[2017-01-26 11:37] OleMchls commented on #29
Due to late planning meetup announced it already :D

[2017-01-31 14:02] #23 closed

[2017-01-31 14:57] OleMchls commented on #30
Just created the event at meetup.com. Also #37 is set! So we will have @pragtob :tada:

[2017-02-15 10:58] #29 closed

[2017-02-15 10:59] OleMchls commented on #30
IIRC @dszam will host us :)

[2017-02-15 10:59] OleMchls commented on #30
Updated location and agenda

[2017-02-15 11:00] OleMchls commented on #30
Going to announce the event 🎉 #intime

[2017-02-27 09:36] h4cc commented on #30
Screenshot to explain vindinium for the half-time report:
https://s3.amazonaws.com/poly-screenshots.angel.co/Project/a0/120663/73d89cbf74dde0cacf22233ec6dc6a79-original.png

[2017-02-27 09:52] h4cc commented on #30
For the vindinium "half-time report" some extraordinary hackers like @narrowtux could tell us something about their progress and findings.

[2017-02-28 16:28] OleMchls commented on #30
I think I will introduce the project / idea again to every one. Ask for some hands to show who's participating and announce the tournament for march. Also I'd love to invite everyone who has something to show, to come on stage and show quickly what they got.

[2017-03-09 13:54] h4cc commented on #31
How about a vindinium competition?

[2017-03-10 18:10] h4cc commented on #31
The private vindium server is running. My bot is ready.

Anybody else wants to have a little competition?

[2017-03-14 11:25] narrowtux commented on #31
Can you post the URL here?

[2017-03-14 21:51] OleMchls commented on #31
Yeah, we totally want to do that Vindiuium tournament. I want to get all participants on stage, and let the bots fight on screen. And contesters explain / w/o screen share what strategy their bots use.

[2017-03-14 21:51] OleMchls commented on #31
I wonder if we have any talk at hand 🤔

[2017-03-14 21:52] OleMchls commented on #37
Done already. Thanks @PragTob for stepping over :)

[2017-03-14 21:52] #37 closed

[2017-03-14 21:53] OleMchls commented on #31
I've found the following proposals:

- #19 by @BjRo
- #13 by @domenicolino
- #8 by @markschmidt

Anyone of you feels ready to do something on stage?

[2017-03-14 21:54] OleMchls commented on #31
If from the "older" proposals no one wants to take stage, @h4cc you'd want to do something about writing that bot in elixir?

[2017-03-14 21:55] OleMchls commented on #31
We also need a location :D I'd love to give ePages another visit, the location would work great for the tournament. @erikmueller ?

[2017-03-14 21:56] OleMchls commented on #30
We had no cake :( But a great meetup, thanks to everyone who participated

[2017-03-14 21:56] #30 closed

[2017-03-14 21:59] erikmueller commented on #31
I can check the avail but could be that I can't confirm until next week.

[2017-03-14 22:04] OleMchls commented on #31
@erikmueller cool! Can you confirm on Monday, because the automated announcement happens one week prior the the event :D

[2017-03-14 22:05] OleMchls commented on #31
I also just created the meetup event: https://www.meetup.com/Elixir-Hamburg/events/238421135/

[2017-03-14 22:10] erikmueller commented on #31
@nesQuick Yes will do my best to confirm before but worst case, monday will be latest

[2017-03-14 22:12] OleMchls commented on #31
@erikmueller Thanks a bunch! ✨

[2017-03-15 08:14] markschmidt commented on #31
@nesQuick sorry, don't count on me in the next time. OutOfSpareTimeException (╯°□°）╯︵ [_]||

[2017-03-15 08:33] BjRo commented on #31
@nesQuick same for me. Busy with my current project. Plus, I've been a bit `elixir` abscent in the last weeks (since my current proj is `Scala` based) :-(

[2017-03-15 14:16] erikmueller commented on #31
Btw depending on how long @h4cc "botting" takes: I started a small blog engine with `Phoenix` `Agent` and `GenServer` where I'd love to have s/o offer criticism on some parts. If anyone is interested in hearing...

[2017-03-15 18:58] OleMchls commented on #31
@erikmueller I'd love to hear that! Let's do that, any bot stuff can be moved to a later meetup as well :) Could you sum up your stuff in two sentences, so I can add it to the website?

[2017-03-15 20:02] erikmueller commented on #31
The starting point is a bare phoenix server w/o `Ecto`. I have 2 workers, an `Agent` and a `GenServer`. The Agent reads a directory, of markdown files, turns them into a list of `%Post{}` structs and provides some calls to get and update them. The GenServer acts as a file watcher calling the Agent's state manipulation methods whenever an `md` file changes. Basically a poor mans blog engine with li

[2017-03-20 08:49] erikmueller commented on #31
@nesQuick 👌  room's booked for us. Holstenwall as last time.

[2017-03-20 08:51] OleMchls commented on #31
Sweet! Thanks :)

On Mon, Mar 20, 2017 at 9:49 AM, Erik Müller <notifications@github.com>
wrote:

[2017-03-20 08:55] OleMchls commented on #31
Announced the meetup! :)

On Mon, Mar 20, 2017 at 9:51 AM, Ole Michaelis <ole.michaelis@gmail.com>
wrote:

[2017-03-28 05:13] h4cc commented on #31
Another tweety tweet: https://twitter.com/HamburgEx/status/846590954337439745

[2017-03-28 05:17] h4cc commented on #31
@erikmueller Will we have good wifi at epages to play vindinum at out server?

[2017-03-28 07:22] OleMchls commented on #31
Worked like a charm last time ;)

[2017-03-28 08:49] erikmueller commented on #31
as @nesQuick said it should be no different from last time but I have a chat with IT anyway. @h4cc  are you planning to have the server locally? Because this could be an issue since I'm not sure if devices can discover each other in the guest Wifi.

[2017-03-28 09:12] h4cc commented on #31
@erikmueller Thanks for the hint, no the server will be in the internet.

I also resetted the database for our vindinium instance: http://vindinium.elixir.hamburg/

[2017-03-28 12:17] h4cc commented on #31
@erikmueller Ole cant not attend, i will try to do his part today. I will be at ePages at 17:20/30, i know you have prepared everything perfectly like you did last time ;)

[2017-03-28 13:16] erikmueller commented on #31
@h4cc thanks for jumping in, I'll do my best ;)

[2017-04-10 09:49] #35 closed

[2017-04-10 09:49] OleMchls commented on #35
✅

[2017-04-10 09:50] OleMchls commented on #31
Big thanks to @h4cc and @erikmueller this one is ✅

[2017-04-10 09:50] #31 closed

[2017-04-10 09:51] OleMchls commented on #32
Let's do this one, I'll try to get Xing as a location with @BjRo 😉 I'd love to see some talks, I will check if twitter knows any things. Also any ideas are appriciated

[2017-04-15 19:46] OleMchls commented on #32
I won't be around to organise this issue. I will be at my companys team retreat. I wonder if @h4cc or anyone else would like to step in?

[2017-04-15 19:47] OleMchls commented on #32
Also given the fact that we are really low on topics and ideas, I propose to reduce activities to a single one for each meet up. Makes organising this 50% easier :D

[2017-04-21 16:10] OleMchls commented on #32
We got a talk from @aforward 🎉 Now we only need a location that supports that, but @BjRo did signal that our chances at Xing are pretty good. Any updates on that @BjRo ?

[2017-04-21 18:23] BjRo commented on #32
Unfortunately not. We'll have to check again on Monday whether it's possible on our side.

[2017-04-21 19:09] OleMchls commented on #32
Well Tuesday is the Meetup :S

Sent from my iPhone

[2017-04-24 08:49] BjRo commented on #32
So, I just secured our Spielbudenplatz for tomorrow. We'll host it.

[2017-04-24 12:27] OleMchls commented on #32
@BjRo that's great! As I'm not in town, could you take care of hosting it, and also check with  @aforward to figure out the details about the remote presentation?

[2017-04-24 12:29] OleMchls commented on #32
I also updated the agenda and location in Meetup! \o/

[2017-04-24 14:55] aforward commented on #32
Great news about the location.  I will be around (it's the "afternoon" for me here in Canada during your meetup).  We can do google hangouts, and i'll post a link to get the presentation (Keynote + PDF) locally should the sound/video quality be shit.

[2017-04-24 16:09] BjRo commented on #32
@nesQuick I would really appreciate if either @h4cc or @certainty could do that. I'm already drowning in work :)

[2017-04-24 16:37] certainty commented on #32
@BjRo @nesQuick I can take that over.

@aforward I will get in touch with you

[2017-04-24 20:41] OleMchls commented on #32
Thank you so much @certainty <3 <3 <3

[2017-04-25 09:12] zenner-iot commented on #32
Not in town, sorry :(

[2017-04-25 12:46] aforward commented on #32
@certainty I created a room

https://appear.in/hh-ex-april2017

[2017-04-30 15:18] #32 closed

[2017-05-02 14:32] OleMchls commented on #33
After a rather bumpy organisation of the April edition I'd like to do a bit better this time.

I won't be around for this edition, and would like to pass the complete organisation to any volunteer. The documentation in the issue template plus the previous edition issues should be helpful. I'll also assist during preparation.

If we can't find someone within the next 7 days. I need to cancel the Ma

[2017-05-02 16:15] dszam commented on #33
I'm in vacation at the next meetup so unfortunally I cannot support.

[2017-05-02 17:07] BjRo commented on #33
End of May I'll be in the first hot phase of my project. I won't be able to support much. I'm for summer break

[2017-05-03 06:03] narrowtux commented on #33
I could try if nobody else is able to.

[2017-05-03 06:44] OleMchls commented on #33
Sure. I'm happy to assist. I'll also grant you necessary rights on Meetup asap

Sent from my iPhone

[2017-05-03 12:31] OleMchls commented on #33
@narrowtux I just added you as co-organizer on meet up

[2017-05-03 19:33] narrowtux commented on #33
Ignore the mess above :P

[2017-05-06 07:40] narrowtux commented on #33
We have a location!

We from [Zenner IoT Solutions](https://zenner-iot.com) would like to invite you to our new office.

The address is

[Spaldingstraße 68,
20097 Hamburg](https://goo.gl/maps/oAVvJoXjMTt)

[2017-05-06 22:32] OleMchls commented on #33
@narrowtux that sounds great. I'd suggest to create the meet up.com event ASAP, so people can have a chance to see that we'll meet again. You can use the settings from https://github.com/hh-ex/planning/blob/master/meetup-template.md I usually just write tbd for the agenda part when it's not set.

*update: remember that you need to announce the meet up at least 1 week prior to the event, or meet up

[2017-05-07 06:35] narrowtux commented on #33
Meetup created ✅

[2017-05-18 14:08] narrowtux commented on #33
We still need a talk and something for the interactive part. Maybe we can do the GenServer kata (we haven't done that until now right) or some BYOP.

[2017-05-19 12:37] OleMchls commented on #33
Sounds both legit to me. Pick your favourite :) BYOP requires some more
moderation :)

On Thu, May 18, 2017 at 4:09 PM, Moritz Schmale <notifications@github.com>
wrote:

[2017-05-22 08:57] erikmueller commented on #33
I have a problem starting a module (GenServer) multiple times with different IDs (process already started). If s/o wants to have a look at that ^^ Maybe this plays nicely (or is solved) with the GenServer Kata!?

[2017-05-23 10:06] narrowtux commented on #33
Excellent.

I noticed that the "Build your own GenServer" Kata has no repo, only an issue: #19

@BjRo since it's your idea and you're not going to be there anyway, I'd say we don't do it this time since I don't want to take it from you.

Maybe I could write a small kata about Flow and maybe a little GenStage.

[2017-05-23 11:26] erikmueller commented on #33
👍  And also clarify partitioning and batching ;)

[2017-05-23 14:20] narrowtux commented on #33
Agenda set and meetup announced.

I'll take care of preparing the kata.

[2017-05-30 21:17] narrowtux commented on #33
Done!

[2017-05-30 21:17] #33 closed

[2017-05-31 12:08] OleMchls commented on #33
\o/ Cool! Thanks for jumping in @narrowtux

[2017-06-15 10:00] h4cc opened #38 "Flashcards"
@narrowtux ordered some of these flashcards for elixir and they are awesome :)
https://github.com/cleverbunny/elixir-flashcards

These cards could be played as a group game, where we display some of these cards via webcam/beamer.
People could guess what the solution could be, the solutions will be displayed and questions answered.
Whoever had the answer first (raising hand or something) will get a

[2017-06-16 15:05] OleMchls commented on #38
I like the idea. <3 I also bought two packs at ElixirConf.eu let's do it
right at the next meet up!

On Thu, Jun 15, 2017 at 12:00 PM, Julius Beckmann <notifications@github.com>
wrote:

[2017-06-21 11:00] nesQuick opened #39 "June Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** June 27th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk: Elixir Conference EU double – Enough Plug to write a webserver
- Flashcard tournament
- Hang out and have beers, coke, mate or whats-o

[2017-06-21 11:05] OleMchls commented on #39
Yes! I am waaaaaaaay to late for this one. But the upside is: there is a agenda already! Thanks to @h4cc for providing the flashcards idea. And I still owe you all my elixir confidence eu talk :)

But we need a venue. That's why I'd like to bring in @BjRo @dszam @erikmueller maybe you guys want to have us again?

[2017-06-21 12:20] dszam commented on #39
The lounge at SABIO would be available.

Cheers Dirk

Am 21.06.2017 1:05 nachm. schrieb "Ole Michaelis" <notifications@github.com

[2017-06-21 14:39] erikmueller commented on #39
small (and probably big if necessary) confi would also be available at epages

[2017-06-21 16:56] OleMchls commented on #39
@dszam sweet! I just announced the meet up at SABIO. @erikmueller I defiantly would like to come back after the summer break!

[2017-06-21 16:57] OleMchls commented on #39
@narrowtux I also announced the flashcards tournament, I have two sets. It'd be great if you could also bring yours. <3

[2017-06-21 16:57] OleMchls commented on #39
And all boxes checked!

[2017-06-21 16:58] narrowtux commented on #39
Of course!

Also: was this the fastest planning issue in history?

[2017-06-21 19:04] OleMchls commented on #39
Yeah, it probably was, but this was mostly because I was suuuuper late! :D

On Wed, Jun 21, 2017 at 6:58 PM, Moritz Schmale <notifications@github.com>
wrote:

[2017-06-22 10:16] h4cc commented on #39
Tweety: https://twitter.com/HamburgEx/status/877832662236450826

[2017-06-22 10:22] OleMchls commented on #39
:-*

On Thu, Jun 22, 2017 at 12:16 PM, Julius Beckmann <notifications@github.com>
wrote:

[2017-06-26 12:13] h4cc commented on #39
We could mention this, could be interresting: http://www.elixir.london/#scholarship

[2017-06-28 15:20] #39 closed

[2017-07-04 20:24] nesQuick opened #40 "Summerbreak announcement"
Send out a note about the Summer break and briefly introduce Septemburgers

## Step 1. Craft the E-Mail
- [x] 📝

### HH.ex Summer break and Septemburger announcement

## Step 2. Send it on the stinky meetup.com webtool
- [x] 📫

[2017-07-04 20:29] OleMchls commented on #40
📫✅🎉

[2017-07-04 20:29] #40 closed

[2017-08-03 18:35] OleMchls opened #41 "Septemburgers"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** Month 26th
- **Location:** Alphacoders

Agenda:
- 18:00 Open the doors
- 18:30 Fire up the BBQ
- 19:00 Start eating 🍔
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2017-08-03 18:36] OleMchls opened #42 "October Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] ~~Location~~
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** Octiber 24th
- **Location:** ePages @erikmueller

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk by @arvidkahl Building a JWT-based Auth System with Phoenix and Auth0
- Elixirconf Aftermath
- Hang out and have beers

[2017-08-03 18:38] OleMchls opened #43 "November Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** November 28th
- **Location:** SABIO's new party office/roof top terrace (@dszam)

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk by Johannes Elixir & Slack
- Glogg & Waffles
- Hang out and have beers, coke, mate or what

[2017-08-03 18:38] OleMchls opened #44 "January Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** January 30th
- **Location:** ePages
Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- @dszam talk: _Not Learning Elixir_
- @erikmueller talk: _render your React components server side with cowboy and plug_
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2017-08-03 18:39] OleMchls opened #45 "February Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
  - Talk: `mix format`
  - Mob programming https://github.com/elixir-plug/plug/pull/664
- [x] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** February 27th
- **Location:** SABIO

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk: Conquer and Devide: Unifed elixir code with mi

[2017-08-03 18:40] OleMchls opened #46 "March Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [-] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)

# Execute
- **Date:** Month 27th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2017-08-03 18:40] nesQuick opened #47 "April Edition"
# Plan
- [ ] Create meetup.com event
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)

# Execute
- **Date:** Month 24th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2017-08-03 18:41] nesQuick opened #48 "May Edition"
# Plan
- [ ] Create meetup.com event
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)

# Execute
- **Date:** Month 29th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2017-08-03 18:41] OleMchls opened #49 "June Edition"
# Plan
- [x] Create meetup.com event
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] Location
- [ ] ~~Announce meetup.com event (triggers mail)~~ Too Late, meeetup did this for us

# Execute
- **Date:** June 26th
- **Location:** PhraseApp

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- SimpleEvents - Event Sourcing in Elixir
- real-time battle tournament with @h4cc
- Hang out and have b

[2017-08-03 18:45] OleMchls commented on #41
Last years description

In order to improve planning (reduce no show rate) we are collecting 5 Euro when you sign up for the burgers, but here is the deal: When you show up at the meet up we will return it to you (cash) so you can grab yourself a beer or what ever you prefer to drink.

[2017-08-03 18:47] OleMchls commented on #41
For this time we managed to get alphacoders as a sponsor. So we can enjoy heir rooftop terrace while grilling our own burgers 🍔

[2017-08-03 18:58] dszam commented on #42
@nesquick currently, chances are high that our new Office ist ready by oct. 28th

[2017-08-03 19:13] OleMchls commented on #41
Created the event, and announced it right away 🎉

[2017-08-03 19:15] OleMchls commented on #42
Sweeeeet! so I take you as a host?

[2017-08-03 19:17] dszam commented on #42
Jep. Either wenn have the old Lounge or the new Party venue

[2017-08-03 19:17] OleMchls commented on #42
Awesome!

[2017-08-03 19:18] OleMchls commented on #42
Added you to the ticket

[2017-08-03 19:18] OleMchls commented on #42
Thanks for having us again <3

[2017-08-03 19:19] OleMchls commented on #41
@h4cc You're taking care of 🐦 ?

[2017-08-03 19:19] OleMchls commented on #41
As we have plenty of time, I'd like to tweet about it multiple times :)

[2017-08-03 19:24] dszam commented on #42
Is it really the 31st? It's a Holiday this year

[2017-08-03 19:25] OleMchls commented on #42
Uhh, good point @dszam I think we shift to the 24th, would that still be ok with you?

[2017-08-03 19:27] dszam commented on #42
I'm in vacation then. But Ich would be available for November

[2017-08-03 19:28] OleMchls commented on #42
Ok, I will shift your offer to the november edition

[2017-08-04 08:20] erikmueller commented on #42
@nesQuick I'm pretty sure we can host the October edition at epages. Would clarify end of August tho. Interested?

[2017-08-04 09:52] OleMchls commented on #42
@erikmueller yeah that'd be awesome! I add you here, and you just need to confirm whenever your ready 👍

[2017-08-05 06:58] h4cc commented on #41
I will take care of the bird :+1:

[2017-09-11 09:35] erikmueller commented on #42
@nesquick 👌booked.

[2017-09-11 12:07] OleMchls commented on #42
@erikmueller sweet! Thanks

[2017-09-25 08:13] h4cc commented on #41
Will there be vegetarian burgers too?

[2017-09-25 08:15] OleMchls commented on #41
We will get a few veggie patties as well. We plan for a Burger bar, so I should be able to handle these as well. IIRC there was a dietary requirement questionnaire when signing up.

[2017-10-12 19:11] h4cc commented on #42
@OleMchls Please "Create meetup.com event". Thx

[2017-10-12 22:17] OleMchls commented on #42
Will do it this weekend. Kinda busy before that, sorry!

On Thu, Oct 12, 2017 at 9:11 PM, Julius Beckmann <notifications@github.com>
wrote:

[2017-10-14 21:17] OleMchls commented on #41
We had a blast, and I was able to collect some awesome contributions to our next meetups:

@arvidkahl Talk Oktober
@jh2 Talk November
@dszam Talk Not Learning Elixir (I need a proposed month here, pls)
@dixel Kata November
@erikmueller HandsOn Node to Nerves Januar

[2017-10-14 21:19] OleMchls commented on #42
@arvidkahl is going to give a talk. So we only need a second activity. I'd love to do a Elixir Conf aftermath, somehow.

[2017-10-14 21:20] OleMchls commented on #43
@jh2 will give a talk. Could you please share a short summary for meetup.com or at least a title? :)

[2017-10-14 21:20] OleMchls commented on #43
And we also have @dixel doing a Kata that makes a full schedule for November 🎉

[2017-10-14 21:21] OleMchls commented on #44
@erikmueller volunteered to do a HandsOn _Node to Nerves_ ✨

[2017-10-14 21:22] OleMchls commented on #44
as per #41 I will assign @dszam's talk _Not Learning Elixir_ as a second activity

[2017-10-14 21:22] OleMchls commented on #41
That makes Septemburgers a wrap. Thanks for making it happen!

[2017-10-14 21:22] #41 closed

[2017-10-14 21:26] OleMchls commented on #42
fuck this 💩 with 31st being a bank holiday and we shifted to 24th I wont be in town. As I'll be in 🇨🇦 for #FSTOCO. @h4cc or @narrowtux would you take the organizational part onsite?

[2017-10-14 21:30] OleMchls commented on #42
Just created the meetup event https://www.meetup.com/Elixir-Hamburg/events/244209431/

[2017-10-14 21:32] narrowtux commented on #42
do we have anyone who was at the elixirconf? or should we just recap the talks in general if nobody was actually there in person

[2017-10-14 21:32] narrowtux commented on #42
I can also do the orga no problem

[2017-10-14 21:34] OleMchls commented on #42
@narrowtux sweet! Thanks, I'll add you right away on meetup.

[2017-10-14 21:36] OleMchls commented on #42
@narrowtux your the organiser now for the October edition ✨ IDK if someone of us was there. I think not, but I assume some of us watched the videos already as they've been out for about a month now. We could also do a screening of the keynote

[2017-10-15 16:03] jh2 commented on #43
I'll demo my slack app (https://slack.com/apps/A31MP0DJR-lunchorder), walk you through the code and discuss design decisions good and bad.

[2017-10-16 06:54] h4cc commented on #42
I will help @narrowtux organizing.
And reminding @arvidkahl to finish his talk on time :)

[2017-10-16 06:59] OleMchls commented on #42
Thanks, as soon as I'll get a one-liner about the contents of @arvidkahl's talk I will update meetup and announce the event there. Then everything is set :)

[2017-10-16 09:46] arvidkahl commented on #42
I have two things to offer right now,

- How to (reliably) generate PDFs from Elixir
- Building a JWT-based Auth System with Phoenix and Auth0

Both these topics are from a project of mine, so they are production-hardened working solutions. AmA :P

[2017-10-16 12:04] OleMchls commented on #42
@arvidkahl so if you let me choose I'll pick: Building a JWT-based Auth System with Phoenix and Auth0 thanks! Will note the other talk for a meetup next year though :)

[2017-10-16 12:07] OleMchls commented on #42
Announced on meetup.com 🎉 now everything's set up for the meetup @narrowtux  @h4cc

[2017-10-16 12:33] h4cc commented on #42
Tweetered: https://twitter.com/HamburgEx/status/919903981907992576

[2017-11-09 20:05] OleMchls commented on #42
Thanks for putting this together!

[2017-11-09 20:05] #42 closed

[2017-11-09 20:06] OleMchls commented on #43
@jh2 @dszam I'm about to get everything setup for the November edition. #headsup

[2017-11-09 20:07] OleMchls commented on #43
@hh-ex/organizers We may need an _activity_ for the meetup as well. Thoughts?

[2017-11-09 20:12] OleMchls commented on #43
@dszam stealing shamelessly from RUGHH, we could do waffles and Glühwein again. WDYT?

[2017-11-09 20:17] dszam commented on #43
Wenn don't have a cooker in the new Lounge, only ovens and Microwaves. Waffles would work though.

[2017-11-09 21:59] OleMchls commented on #43
We'll organize something. In any case there is still the microwave ....

[2017-11-09 22:01] OleMchls commented on #43
@dszam I need your new address (and maybe instructions how to get there) for meetup.com

[2017-11-10 07:11] dszam commented on #43
@OleMchls The new address is Schützenstrasse 5, 22761 Hamburg
https://www.google.de/maps/@53.5608677,9.9266299,19z
It's this building http://www.phoenixhof.de/images/userimages/news/Beschilderung%20Phoenix-Hof%20DSCF2125.jpg

[2017-11-10 09:31] OleMchls commented on #43
Scheduled and announced the meetup! I just bought a table stove on amazon, @dszam do you have pots? Will you take care of the glogg? I have got a recipe for waffles, I will bring the dough.

![](https://images-eu.ssl-images-amazon.com/images/I/31Yw98dGcyL._SS100_.jpg)

[2017-11-10 13:51] dszam commented on #43
@OleMchls we have a bigger and a smaller pot. It should work for the glogg. I'll take care of that part.

[2017-11-28 08:27] h4cc commented on #43
Tweetered: https://twitter.com/HamburgEx/status/935424841821425664

[2017-12-22 15:39] narrowtux commented on #44
Added the agenda to the issue, put the talk first.

[2017-12-22 15:44] erikmueller commented on #44
@olemchls oh, you remembered that 😅 however could also do a “render your React components server side with cowboy and plug” whichever the audience prefers.
Word of caution: the latter topic involves JavaScript ⚠️

[2017-12-22 21:59] OleMchls commented on #44
@erikmueller I'd love to hear about _render your React components server side with cowboy and plug_ but as I wont be around it's @narrowtux call!

[2018-01-04 10:02] narrowtux commented on #44
Sorry for the delay, I'm also interested in your React SSR talk.

[2018-01-04 10:02] narrowtux commented on #44
is it a talk or also a hands-on?

[2018-01-04 10:04] narrowtux commented on #44
We also still need a venue.

[2018-01-04 10:14] erikmueller commented on #44
I'd say it's rather a talk (although a short one depending on the audience). Guess the elixir side is not so much rocket science if you know cowboy and plug but could be interesting for people that jumped right into phoenix (which I basically did). The "universal" javascript rendering part might also be interesting for the "backend" guys @h4cc  ;)

Concerning the venue: I'm currently out of office

[2018-01-04 13:01] narrowtux commented on #44
awesome!

[2018-01-04 16:07] erikmueller commented on #44
👌 got a go for this and any other hh.ex meetup (everything < 20 will always fit some conference room we have)

[2018-01-04 16:55] narrowtux commented on #44
Thanks a lot!

[2018-01-04 22:01] OleMchls commented on #44
Thanks pretty awesome @erikmueller Thanks for that!

[2018-01-29 07:41] h4cc commented on #44
Tweetered: https://twitter.com/HamburgEx/status/957881246549512192

[2018-01-31 10:25] #44 closed

[2018-02-03 21:13] OleMchls commented on #44
Thanks for taking care Moritz! I hope you all had a blast.

On Wed, Jan 31, 2018 at 5:25 AM, Moritz Schmale <notifications@github.com>
wrote:

[2018-02-22 13:56] OleMchls commented on #43
This seems to be done for quite some time now

[2018-02-22 13:56] #43 closed

[2018-02-22 13:58] OleMchls commented on #45
We need to get this going rather quickly here. @dszam offered their offices, I would to a quick talk about `mix format` and then we'd only need another thing. Any ideas @h4cc @narrowtux @dszam ?

[2018-02-22 14:08] OleMchls commented on #45
I found two emergency agenda items 👍 going to create the meetup event

[2018-02-22 14:23] OleMchls commented on #45
AAAAaaaand everything done and set! Totally would want to pass on March (and April) will ask in the ticket.

[2018-02-22 14:25] OleMchls commented on #46
After I was waaaaay too late in organizing February, maybe someone else would want to take over March? @narrowtux @h4cc @dszam @erikmueller ?

[2018-02-22 14:26] OleMchls commented on #47
As I will be out of the country for the April meetup (DNSummit Spring in Las Vegas 🎉 ) someone else needs want to take over April. @narrowtux @h4cc @dszam @erikmueller ?

[2018-02-22 14:50] narrowtux commented on #46
I'll do a talk about the inner workings of ecto and how to use Ecto.Query to its fullest potential.

[2018-02-26 08:12] erikmueller commented on #46
I'm a bit flaky until end of may since my wife got shifts and I might have to stay watch the little one on short notice in the evenings.

[2018-02-26 08:27] h4cc commented on #46
Id love to hear narrowtux talk about ecto. Do we have a location?

[2018-02-27 08:55] h4cc commented on #45
Tweetered a little late:

https://twitter.com/HamburgEx/status/968409006208442368

[2018-02-27 09:44] OleMchls commented on #45
thx @h4cc

[2018-02-28 07:25] h4cc commented on #46
Ole will not be available in March, so i will organize that meetup.

https://www.meetup.com/de-DE/Elixir-Hamburg/events/xhxpkpyxfbkc/

We are trying a repeating meetup setting now, so the event is scheduled, but no location/full description yet.

[2018-02-28 09:02] OleMchls commented on #46
@h4cc I will be available in March (I'll be out in April). But I want to increase the amount of people that feel responsible for hh.ex :)

[2018-02-28 09:04] OleMchls commented on #46
We do not have a location yet. I assume we could always fallback to SABIO @dszam ? But I'd love to go new places? What about eos.uptrade @uberbruns ?

[2018-02-28 12:31] #45 closed

[2018-03-03 10:19] h4cc commented on #46
I will try to get our meeting room for the evening at @zenneriot

[2018-03-12 14:28] h4cc commented on #46
Planning done :)

https://www.meetup.com/de-DE/Elixir-Hamburg/events/xhxpkpyxfbkc/

[2018-03-12 15:34] OleMchls commented on #46
Sweet! Did you announce it already?

[2018-03-13 10:57] h4cc commented on #46
Done yet :)

[2018-03-13 11:14] OleMchls commented on #46
Sweet. Thanks

Sent from my iPhone

[2018-03-22 14:45] h4cc commented on #46
For the "bot programming" part there is some code in here: https://github.com/hh-ex/kata-realtimebattle

Idea is to give a short talk about realtimebattle bots and show what/how to do. In APRIL we can have a coding-together-round with a tournament-testrun or such. In MAI we can have a nice tournament then with many contestants :D

[2018-03-23 14:17] OleMchls commented on #46
I suggest to do more codeing and less talking for this meetup. People will need to get their hands dirty to get to the relevant questions.

[2018-03-24 08:48] h4cc commented on #46
Yep, with "talk" i mean getting started infos with hands on code and getting it to work so everybody can build their robots :)

[2018-03-26 09:26] h4cc commented on #46
Bad news everyone! I got sick with the flu and cant come :(

But @narrowtux will jump in :D

[2018-04-03 13:24] OleMchls commented on #46
That was fun!

[2018-04-03 13:24] #46 closed

[2018-04-03 17:28] OleMchls commented on #47
We discussed this briefly during the March meetup. The plan was to do the Robo programming event exclusivly as it will also eat quite some time and everyone can have more time hacking. @h4cc would you be up for that?

For hosting the event @dszam offered the SABIO lounge. Is that still a valid offer?

[2018-04-04 09:28] dszam commented on #47
@OleMchls Jep. I booked the lounge.

[2018-04-04 09:30] h4cc commented on #47
I am up for the RealTimeBattle thingy :robot:

[2018-04-09 12:53] OleMchls commented on #47
Cool! I will adjust the event. @h4cc, as I wont, be available, will you do the job of the _host_?

[2018-04-09 12:58] OleMchls commented on #47
Announced on Meetup. Have fun everyone! 👍 We are early this month, which makes me pretty happy and I hope we will see some attendees!

[2018-04-10 05:24] h4cc commented on #47
I will do the host, this time hopefully without getting sick ^^

[2018-04-10 21:14] jh2 opened #51 "Project proposal: Phoenix boilerplate/starter"
As discussed at the last meetup there is a big hurdle when starting a new Phoenix-based project: You have to do a lot of things from scratch, especially authentication. So I propose we build a boilerplate/starter project (these are very common in javascript-world) that you just have to clone, adjust some configuration, run and it gives you a phoenix project with out-of-the-box:
- authentication (a

[2018-04-11 06:35] dszam commented on #51
sounds like a pretty nice idee for me.
I'd really like to do this kind of project.

[2018-04-12 19:03] OleMchls commented on #51
@jh2 I thinks that's pretty cool, too! I'm 100% down for this. Would you moderate this activity? We've no agenda for the May meetup. So I could see this activity there. Maybe as with the April meetup have it as a single agenda item so we can put more time towards that.

I'd see you start with explaining the problem, showing other boilerplates for other languages for a few minutes at the beginning

[2018-04-15 13:35] jh2 commented on #51
Yes, pretty much what I had in mind. I can moderate it, sure. May is fine, too 👍

[2018-04-16 07:47] erikmueller commented on #51
Awesome. I don't know how often I replaced brunch with webpack... I think this is not only relevant for react-based projects. Especially with the new webpack zero-conf release it should be as simple but more powerful (ES6 transpiling & friends) than brunch 👍

... and not to mention webpack widely used (concerning tutorials, examples, etc...)

[2018-04-18 15:57] OleMchls commented on #51
Sweet! @jh2 please be prepared for the May meetup! I'll update #48 and then we are set for May 🎉 Maybe you want to provide me with a little description of what you want to do?

[2018-04-18 16:02] OleMchls commented on #48
We are already set with Agenda. Thanks to @jh2 who will do a collaborative coding session (#51).

I wonder if ePages would host us again? @erikmueller ?

[2018-04-22 07:37] erikmueller commented on #48
Sure 👌

[2018-04-23 13:19] h4cc commented on #47
@dszam We will have Wifi and a Beamer at your location? Should i bring some snacks?

The repo with the code is here: https://github.com/hh-ex/kata-realtimebattle

[2018-04-23 14:08] dszam commented on #47
@h4cc We will have some snacks, but I'd be happy, if you like to bring some more.

[2018-04-24 11:54] h4cc commented on #47
I got some snacks and stickers.
Prepared s short presentation.
@narrowtux Made the kata work on MacOS :+1:

[2018-04-25 08:34] h4cc commented on #48
Can we have a few minutes to present the realtimebattle bot thing a second time, so more people can attend a tournament in June?

[2018-04-25 08:35] h4cc commented on #49
We could have a realtimebattle tournament :)

[2018-05-02 07:46] OleMchls opened #52 "Elixir Cards Game"
![dbae1ywvqaag5s6 jpg-large](https://user-images.githubusercontent.com/584259/39511431-b3ab3a28-4ded-11e8-9d42-faf1e136477c.jpeg)

source: https://twitter.com/elixircards/status/988152365047001088/photo/1

[2018-05-02 07:50] OleMchls commented on #48
@h4cc sure, you can give an update at the beginning. Please restrict this to not more than 15 minutes :) I'll update the meetup page with the agenda and location :)

[2018-05-02 08:22] OleMchls commented on #48
Also announced on Meetup.com

[2018-05-02 08:24] OleMchls commented on #49
We received an offer to hang out at Phraseapp by @tobstarr

Next to the real-time battle tournament we could have another talk after two coding meetups again. Any volunteers?

[2018-05-14 12:13] h4cc commented on #48
It would be really cool if there would be some ice cream or so against the hot weather :)

[2018-05-14 16:58] OleMchls commented on #48
I'm :100: for that!

On Mon, May 14, 2018 at 2:13 PM, Julius Beckmann <notifications@github.com>
wrote:

[2018-05-25 10:47] h4cc commented on #48
Tweetered: https://twitter.com/HamburgEx/status/999964700774461440

[2018-05-28 05:52] h4cc commented on #48
@erikmueller Do you have a fridge for IceCream? Or even bowls and spoons?

[2018-05-28 07:29] erikmueller commented on #48
@h4cc We do have bowls and spoons I'm clarifying the freezer thingy (guess our fridge is not 😎 enough). If possible I'll organise some 🍦 or popsicles 😉

[2018-05-28 07:34] h4cc commented on #48
I think this would be very efficient :)

![](https://i.imgur.com/wt7F0GZ.jpg)

[2018-05-29 12:19] OleMchls commented on #48
Some opening notes for myself:

- [x] Submit proposals / github / locations
- [x] Summer break July/August?
- [x] Septemburgers /w Alphacoders

[2018-05-29 18:11] OleMchls opened #53 "July Edition"
# SUMMER BREAK!

[2018-05-29 18:12] OleMchls opened #54 "August Edition"
# SUMMER BREAK

[2018-05-29 18:15] OleMchls opened #55 "Septemburgers 2018"
# Plan
- [x] Agenda (🍔)
- [x] prepare katas if applicable
- [x] Location Alphacoders
- [x] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Date:** September 25th
- **Location:** Alphacoders

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- BURGERS!
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:31] OleMchls opened #56 "October Edition"
# Plan
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Date:** October 30th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Ecto, pt 2: Everything about schemas #63
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:33] OleMchls opened #57 "November Edition"
# WAFFLES AND GLÜHWEIN

# Plan
- [x] Agenda
  - [x] Waffles and Glühwein
  - [x] GraphQL Talk
- [x] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [x] Promote on Twitter

# Execute
- **Date:** November 27th
- **Location:** AKRA @hauptbenutzer

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Waffles
- .... talk?!
- Hang out and have beers, coke, ma

[2018-05-29 18:33] OleMchls opened #58 "January Edition"
# Organizer
@jh2

# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Date:** January 29th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:34] OleMchls opened #59 "February Edition"
# Plan
- [x] Agenda
- [x] Location DIGIMONDO @jh2
- [x] Announce meetup.com event (triggers mail)
- [x] Promote on Twitter

# Execute
- **Date:** February 26th
- **Location:** DIGIMONDO @jh2

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- 19:00 @narrowtux Ecto pt. 3: Custom types deep dive
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:35] OleMchls opened #60 "March Edition"
# Plan
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [x] Promote on Twitter

# Execute
- **Date:** March 26th
- **Location:** AKRA with @hauptbenutzer

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:35] OleMchls opened #61 "April Edition"
# Plan
- [x] Agenda
- [x] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [x] Promote on Twitter

# Execute
- **Date:** April 30th
- **Location:** Wunder mobility

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Lean coffee
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:35] OleMchls opened #62 "May Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Date:** May 28th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2018-05-29 18:36] OleMchls commented on #48
🎉

[2018-05-30 09:11] tobstarr commented on #49
Anything we could should do from our end at this point in time? @sbruhns offered to do the organization from our side.

[2018-05-30 09:18] OleMchls commented on #49
@tobstarr 🎉 I added the location to the meetup: https://www.meetup.com/Elixir-Hamburg/events/xhxpkpyxjbjc/ please double check the address and LMK if there is anything you'd like to add.

Also would you or @sbruhns want to give a talk? We've a spare slot :)

[2018-05-30 09:39] sbruhns commented on #49
@OleMchls The location is correct. :+1:  I will not give a talk because I'm new to elixir.

[2018-06-24 16:29] jh2 commented on #49
@OleMchls @h4cc this still has the generic description on meetup.

[2018-06-24 18:41] OleMchls commented on #49
@jh2 Thanks for the headsup. Actually we do not have a complete schedule. I will chime in with a short (my) hands on Demo/talk of our Event Sourcing in Elixir project. If no ones has a another suggestions.

[2018-06-25 05:20] h4cc commented on #49
Thanks @jh2 !

Tweetered: https://twitter.com/HamburgEx/status/1011116880885698560

[2018-06-25 16:45] narrowtux opened #63 "Ecto, pt 2: Everything about schemas"
- schemas
 - relations between schemas
 - (deep) preloads
 - embedded schemas
 - how to back your schemas with migrations

[2018-07-03 11:37] OleMchls commented on #49
we had a blast

[2018-07-03 11:37] #49 closed

[2018-07-03 11:37] #53 closed

[2018-07-03 11:37] #54 closed

[2018-07-03 11:38] OleMchls commented on #55
I've created and adjusted the meetup event.

[2018-07-14 08:55] narrowtux commented on #55
I can bring a scale and a patty press
![image](https://user-images.githubusercontent.com/616791/42722903-67ef4200-8754-11e8-9398-777069528f6c.png)

[2018-07-16 19:32] OleMchls commented on #55
@narrowtux Weee! Do you also have a ingrediants list for us when we go shopping? Last time we realized no ones of us were _really_ into home made burgers :D

[2018-07-16 20:04] narrowtux commented on #55
I have the [Bob's Burgers recipe book](https://www.amazon.de/Bobs-Burgers-Burger-Book-Recipes/dp/0789331144/ref=sr_1_1?ie=UTF8&qid=1531771548&sr=8-1&keywords=bob%27s+burger+burger+book). I'll select a few recipes so people can try different things.

[2018-07-16 20:06] OleMchls commented on #55
Alright. Just share with us what we need to buy! :)

On Mon, Jul 16, 2018 at 10:05 PM Moritz Schmale <notifications@github.com>
wrote:

[2018-07-16 20:08] narrowtux commented on #55
I'll get back to that in august.

[2018-07-16 20:16] OleMchls commented on #55
👍

On Mon, Jul 16, 2018 at 10:08 PM Moritz Schmale <notifications@github.com>
wrote:

[2018-07-17 07:01] erikmueller commented on #55
@narrowtux the recipes look awesome 👍 I could also bring a burger press with cheese insertion ability 😄

[2018-08-02 19:21] OleMchls commented on #63
I'd love to hear that. October?

[2018-08-02 19:24] OleMchls commented on #55
Announced on Meetup. That gives people enough time to plan for it.

[2018-08-07 07:34] narrowtux commented on #63
sounds good

[2018-08-09 20:21] OleMchls commented on #56
We have a talk set! #63

[2018-09-23 14:22] narrowtux commented on #55
Ok! I have 3 options, even one veggie one!

I copied the ingredients for convenience, they're scaled for 4 burgers

## New Baconings Burger
![img_5514](https://user-images.githubusercontent.com/616791/45929053-ce0a4780-bf4c-11e8-8bb4-379038b30d70.JPG)
Ignore the milk and egg ingredients, those are for the fries which we most likely won't have.

 * ~200g Bacon
 * Beef for 4 patties
 * 4 Burger buns

[2018-09-30 15:04] OleMchls opened #64 "Elixir Hack & Learn"
I recently saw this event from the Hamburg Rust community:

[code]

I think this idea is great and as Elixir is also a fairly new language with many people _just_ being interested it may be worth coping this great idea.

Any volunteers making this happen for a meetup in 2019?

[2018-10-09 11:34] #55 closed

[2018-10-19 12:37] jh2 commented on #64
:hand:

[2018-10-20 09:55] h4cc commented on #57
How about @hauptbenutzer giving his GraphQL Talk about Absinthe? :D

See: https://twitter.com/moritzflucht/status/1053353057084456960

[2018-10-22 14:29] OleMchls commented on #56
_phew_ we at least have the talk set. But I'm worried about the location. Last minute fails on my side. Give me a few minutes.

[2018-10-22 14:29] OleMchls commented on #64
@jh2 Sweet! Let's talk about this at the October meet up.

[2018-10-22 14:30] OleMchls commented on #56
@jh2 we talked about coming to your office. Is this still a valid offer?

[2018-10-22 14:30] OleMchls commented on #56
I will create a group with location sponsors so I can group mention everyone :D

[2018-10-22 14:38] OleMchls commented on #56
As I am way too late (again) with doing things I'd a second agenda item. We can just hang out and have beers. I'm still thinking about a Nerves hack-evening. But I'd rather have it planned with a bit more time in advance.

[2018-10-22 14:39] OleMchls commented on #56
Due to possible family urgencies (🤰), it would be great if there is a standby host.

[2018-10-22 14:40] OleMchls commented on #56
I'll update meetup.com with the details.

[2018-10-22 14:55] OleMchls commented on #56
I updated meetup with what we have. Tried to book us a free WeWork with the meetup feature, but one has to be way earlier with this.

[2018-10-22 14:58] OleMchls commented on #57
I'd love to hear that @hauptbenutzer WDYT?

[2018-10-22 14:59] OleMchls commented on #57
Location wise we are already settled. As we want to do another waffles and glühwein at SABIO lounge with the fireplace :D /cc @dszam

[2018-10-22 15:19] hauptbenutzer commented on #57
Sure thing, I'm in! Alternatively we could host the meetup @ AKRA in the Domstraße, as part of the talk is about the learnings from my current project. But I don't want to interfere with things that are already settled 😁

[2018-10-22 15:24] OleMchls commented on #57
@hauptbenutzer we are settled for November, but we are still on the lookout for next week #27 I'd love to take us to new places :) Also, people love central locations :D

[2018-10-22 15:24] OleMchls commented on #57
@hauptbenutzer do you have an short abstract I can put in the meet-ups description?

[2018-10-22 15:33] jh2 commented on #56
Sorry, this one is unfortunately not possible at our office. Will be available for the January one though.

[2018-10-22 15:44] dszam commented on #57
I have to check, as I might have family issues as well (although different ones)

[2018-10-22 15:59] OleMchls commented on #56
Ok, so maybe we can swap around, I suggest the following:

- October: SABIO @dszam
- November (Waffles and Glog): AKRA @hauptbenutzer
- January: DIGIMONDO @jh2

WDYT?

[2018-10-23 02:42] dszam commented on #56
@olemchls I have to verify the venue, but it shouldn't be a problem

[2018-10-23 10:09] hauptbenutzer commented on #57
@OleMchls As for the abstract:

[2018-10-24 07:13] boddhisattva commented on #64
With some guidance from some members of the Ruby community and with the help of some people on the day of a meetup,  I had a wonderful opportunity to facilitate a Ruby meetup in Bangalore where people were paired in a combination of someone with more experience with someone with less experience to solve a Ruby exercise from Exercism.

I've blogged about my learnings from facilitating that meet up

[2018-10-25 19:31] dszam commented on #56
@olemchls sorry for the late reply. The lounge is booked and I look forward meeting you

[2018-10-28 16:14] h4cc commented on #56
I added the location at meetup.com: https://www.meetup.com/de-DE/Elixir-Hamburg/events/xhxpkpyxnbnc/

I cant find the option for "Announce meetup.com event (triggers mail)", seems to be done already.

Tomorrow: "Promote on Twitter"

@dszam Do we need to bring something? Like Snacks or helloween decoration thingys :)

[2018-10-28 16:33] OleMchls commented on #56
Sorry. Julius, please change the Location to sum.cumo see Twitter for details. I fucked up with the locations. When I asked on Twitter I had the assumption we don’t have a location.

Dirk, I am super sorry die this.

To my excuse, we just got our little baby girl two days ago. So it would be great if you can take over the Organisation Julius. I will DM you my phone number on Twitter in case you ha

[2018-10-29 11:50] OleMchls commented on #56
sum.cumo will sponsor pizza 🎉 🍕

[2018-10-30 07:46] h4cc commented on #56
Tweet: DONE
Meetup Notification about new location: DONE

[2018-10-30 13:22] h4cc commented on #15
Idea for a simple Kata: http://www.99-bottles-of-beer.net/

[2018-11-02 11:35] hauptbenutzer commented on #57
So with all the confusion around the October meetup (which, unfortunately, I couldn't attend due to unforeseen illness), are we still on for the November meetup @ AKRA?

[2018-11-03 15:46] narrowtux commented on #57
yes :)

[2018-11-05 08:03] TamyRibeiro opened #65 "Venue in Hafencity"
Hi there,
Wunder is selecting an exclusive list of Tech Meetups to be hosted for free in our stunning office in Hafencity, providing the venue, equipment, free drinks, snacks and perks to your community. Let's talk about it?

Here is the concept:

https://docs.google.com/presentation/d/1cgch4Je7szEgCsJ1PG80WuP69z9WpqAh1U2qyOGn-bU/edit?usp=sharing

Cheers!

[2018-11-05 13:19] OleMchls commented on #57
Yeah, I am sorry for creating the confusion around the October / November meet-up. I take al the blame! :(

However, I just updated this issue description, so we will meet at AKRA and with Waffles and Glühwein we will have enough Agenda to make it happen.

@hauptbenutzer how's the infrastructure at AKRA? Do we have a stove to warm the Glogg? Will AKRA provide Glogg (and non all alternative)? Who w

[2018-11-05 13:20] OleMchls commented on #57
I will move ahead and update the meetup page. And will announce it this week. 🎉 for being early :)

[2018-11-05 13:23] OleMchls commented on #57
@hauptbenutzer we have the following on file on meetup.com:

Is this still correct? Any more precise details or instructions needed?

[2018-11-05 13:39] OleMchls commented on #57
I updated the meetup.com event. @hauptbenutzer PTAL

[2018-11-05 13:46] OleMchls commented on #64
@jh2 I obviously missed the October meetup. Want to meet for a coffee somewhen next week in your office or close to it (https://www.publiccoffeeroasters.com/unsere-cafes/gemuetlich-und-historisch-brandstwiete-3/) to discuss this for January?

[2018-11-05 13:46] OleMchls commented on #65
Hey @TamyRibeiro we always appreciate new venues. So thanks for the offer. Our next meetup that is not yet assigned to a venue is #58 would that day work for you? That one _may_ be a special version: #64 /cc @jh2

[2018-11-05 14:32] TamyRibeiro commented on #65
Hi Ole,

Sounds good. Let's confirm this date.

Please let me know when can we discuss details.

Best,

Hi, I'm Tamy Ribeiro
Brand Partnerships Lead at Wunder Mobility <http://www.wunder.org/>

ᐧ

On Mon, Nov 5, 2018 at 2:46 PM Ole Michaelis <notifications@github.com>
wrote:

[2018-11-05 14:36] Miradorn commented on #57
Hi, writing on behalf of @hauptbenutzer and akra:

We will provide drinks, including glog, waffle dough and at least 1 waffle iron.

The Adress is right, we're located at the 5th floor and will put up signs so that you'll be able to find us.

Update: Also we dont have a stove in our office 😢

[2018-11-06 08:15] OleMchls commented on #57
@Miradorn AWSOME! Thanks a bunch. I will also bring my iron, so we can send multi-process-waffles 👍 See you then.

[2018-11-06 08:16] OleMchls commented on #57
I'll _announce_ the meetup now.

[2018-11-06 08:18] OleMchls commented on #65
@TamyRibeiro we can discuss everything in #58
The date for the January meetup is January 29th 2019.

[2018-11-06 08:59] TamyRibeiro commented on #58
Hi,

I would like to offer our office as a Venue for this Meetup (edition #58). Please find more details below:

https://docs.google.com/presentation/d/1cgch4Je7szEgCsJ1PG80WuP69z9WpqAh1U2qyOGn-bU/edit?usp=sharing

Best,

Tamy

[2018-11-06 10:18] narrowtux commented on #57
I can bring a portable IKEA stove from our office for the Glühwein?

[2018-11-06 12:20] jh2 commented on #64
Sure, I'll email you my number so we can text about time.

[2018-11-06 13:18] OleMchls commented on #57
As far as I understood @Miradorn they have stoves to warm it up? I'd also have a mobile stove if needed :)

[2018-11-06 13:21] Miradorn commented on #57
@OleMchls Unfortunately we dont have one. We are trying to organize one, but if we're not succesful it'd be great of you bring yours!

[2018-11-09 22:24] OleMchls commented on #57
No worries @Miradorn so @narrowtux will you bring yours? Otherwise I got one from last year.

[2018-11-10 09:20] narrowtux commented on #57
Yes, I can even bring 2

[2018-11-10 12:09] Miradorn commented on #57
Good news, Akra did organize one cooker for the Glühwein.
We have two kinds of Glühwein, so if you want to parallize things (and this is an elixir meetup so obviously...) a second one could be an option, but everything will work out without it!

[2018-11-11 18:21] narrowtux commented on #57
Note that we only have induction stoves so if the pot doesn't support induction I can't bring them

[2018-11-12 19:38] OleMchls commented on #57
I'll bring my regular old fashioned double feature stove :)

On Sun, Nov 11, 2018 at 7:22 PM Moritz Schmale <notifications@github.com>
wrote:

[2018-11-12 20:56] #63 closed

[2018-11-20 09:53] Miradorn commented on #57
update: Akra did actually get 2 glühwein cookers 🎉 so nobody needs to bring his pot/stove!

[2018-11-20 09:54] OleMchls commented on #57
\o/

On Tue, Nov 20, 2018 at 10:53 AM Alexander Schramm <notifications@github.com>
wrote:

[2018-11-26 13:52] h4cc commented on #57
Tweetered:

https://twitter.com/HamburgEx/status/1067053298803531777

[2018-11-26 15:45] Miradorn commented on #57
Hey everybody, it seems we may have underestimated the number of people who might be coming. Unfortunately akra’s biggest room can’t hold more than ~30 people. Is it possible to lock the event so that nobody has to stand outside?

[2018-11-26 15:56] narrowtux commented on #57
We can enable a waiting list and limit to 30, however we always expect a ~30% no-show rate. So with the current RSVPs (35) it would be 25 actual shows.

[2018-11-26 15:58] OleMchls commented on #57
Just had a quick call with AKRA and I limited the meetup.com event to 35 ppl (current # of attendees).

[2018-11-29 13:20] #57 closed

[2018-12-05 12:24] bruno-azenha commented on #58
Hello there everyone!

First of all, I'm really happy with the experiences I had in the two previous elixir meetups and would really like to become more active and help organize the January one!

I am a passionate elixir engineer here at Wunder Mobility (The company whose office is showcased above).

It is my understanding that the location for the January edition is already settled to be our offi

[2018-12-05 21:22] OleMchls commented on #58
Thanks for chiming in @bruno-azenha 👍 Yes, for January we would love to come and visit your office. As @jh2 is the main orga for the event please contact him for any questions regarding the content of the meetup.

I agreed with @jh2 to take care of the venue for the January meetup. To add it to the meetup event I need the following information:

- Address
- If necessary a few words how to find it

[2018-12-07 15:31] bruno-azenha commented on #65
@OleMchls I believe we can close this one. ;)

[2018-12-07 15:48] bruno-azenha commented on #58
Wunder's Office is located: Hongkongstraße 7, in Hafencity!

The closest subway station is the Überseequartier on the U4 line.
It is also easy to get to by bus, stopping either at Koreastraße or Osakaalle.

Entrance from the street is going down the stairs from street level and entering our red-brick building. We are on the second floor.

We will provide drinks, snacks and lots of curious people a

[2018-12-13 19:41] jh2 commented on #58
hey @bruno-azenha, thanks for the address and snacks info, will update that soon at meetup.

Yes generally we like to keep the program single-topic. But if you want to contribute, a short talk should be find, let's say 30minutes total incl. questions. Or another way could be we collaborate on the katas. The way I imaged it was that I or we could present the problems and then circulate and help the

[2018-12-14 09:25] OleMchls commented on #65
👍 thanks @bruno-azenha

[2018-12-18 14:18] bruno-azenha commented on #58
That sounds good. I'm going to be happy to help with the katas then!
I'm also pretty free during the Christmas break. So just let me know if I can help with the Katas.
;)

[2018-12-18 20:26] jh2 commented on #58
Great, my office also is near hafencity so maybe we can meet sometime to discuss more in person. Will email you my number so we can text about scheduling.

[2019-01-17 07:08] h4cc commented on #58
Meetup was announced: https://www.meetup.com/de-DE/Elixir-Hamburg/events/256340085/
Tweetered: https://twitter.com/HamburgEx/status/1085795793267757056

[2019-01-17 09:08] TamyRibeiro commented on #58
Hi Julius,

thank you for letting me know.

Ps: Monica, Rachit (cc) - fyi

Have a great day!

Hi, I'm Tamy Ribeiro
Head of Strategic Partnerships & Branding at Wunder Mobility
<http://www.wunder.org/>

ᐧ

On Thu, Jan 17, 2019 at 8:08 AM Julius Beckmann <notifications@github.com>
wrote:

[2019-01-28 11:44] h4cc commented on #58
@jh2 I will not be abled to be there, i am sick :( You will rock that anyhow!

[2019-01-29 10:17] bruno-azenha commented on #58
@h4cc Hope you get better soon!

We are super excited about hosting the meetup tonight!
I'm sure it will be great!

[2019-01-29 19:48] #56 closed

[2019-01-29 19:51] OleMchls commented on #59
@narrowtux I will be out for the February edition. I was hoping to see you today to beg you for doing this one. DIGIMONDO offered the location already. WDYT could you take care of this one?

[2019-01-29 20:19] OleMchls commented on #60
@m1rad will have a talk for us 🎉

[2019-01-29 20:41] OleMchls commented on #60
@hauptbenutzer will check for AKRA as a location

[2019-01-29 20:49] OleMchls commented on #61
@janderit will do Lean coffee at Wunder with @bruno-azenha

So April is set 🎉

[2019-01-29 20:50] #58 closed

[2019-02-04 13:29] h4cc commented on #59
I will not be abled to attend, going :snowboarder: in that week. Have fun!

[2019-02-04 13:52] jh2 commented on #59
btw it's DIGIMONDO, please respect our #brand

[2019-02-04 16:14] hauptbenutzer commented on #60
@OleMchls @Miradorn That'll work out!

[2019-02-04 16:44] OleMchls commented on #60
Whoo! I updated the issue. Thanks!

[2019-02-05 16:40] narrowtux commented on #59
Hi sorry for the late reply I've been on vacation last week.

I can of course attend and I'll try to get someone to talk about something, otherwise I'll have to think about something as fallback.

[2019-02-05 21:22] OleMchls commented on #59
Thanks for jumping in @narrowtux I will hand the meetup.com event over to you :)

[2019-02-25 12:00] jh2 commented on #59
Did you find anyone to talk and is this definitely happening @narrowtux ?

Also if yes please put in a limit to 16 participants.

[2019-02-25 12:05] narrowtux commented on #59
I got no content suggestions from others, I'll have to wing it :)

Maybe a kata with a quick introduction before it

[2019-02-25 12:08] narrowtux commented on #59
- [x] Limit set to 16

[2019-02-25 13:30] h4cc commented on #59
Will Tweet this evening about the Event :)

johannes <notifications@github.com> schrieb am Mo., 25. Feb. 2019, 13:02:

[2019-02-25 14:50] narrowtux commented on #59
I'll do a bit about custom ecto types. Found something very interesting today

[2019-02-25 18:18] h4cc commented on #59
Tweetered: https://twitter.com/HamburgEx/status/1100097702594002944

[2019-02-28 16:03] #59 closed

[2019-03-15 11:30] h4cc opened #66 "Code you love ❤"
Idea for a format:

Everybody brings Elixir code or links to code they enjoined reading/writing.

Code will be displayed via projector and discussed.

[2019-03-15 11:32] h4cc commented on #60
Lets get this up and running!

Who of us organizers is in charge? I guess myself ;)

Any information about the talk by @m1rad ?

[2019-03-15 11:34] Miradorn commented on #60
yeah, i'll probably talk about something with opentracing/jaeger, maybe together with GraphQL.

[2019-03-15 11:47] h4cc commented on #60
Could you give it a title and short abstract? So we can put it on meetup.com and twitter. Thx!

[2019-03-18 08:00] h4cc commented on #60
ping @Miradorn ?

[2019-03-18 08:06] Miradorn commented on #60
Oh yeah, sorry, totally forgotten.
Smth like:
`Gain Insights into your Elixir Services with Distributed Tracing and Jaeger`

[2019-03-18 08:37] Miradorn commented on #60
Oh, and I just confirmed, there will be pizza 🍕

[2019-03-18 09:05] OleMchls commented on #60
Guess I originally planned for myself and then missed it. Thanks for taking this over @h4cc <3

[2019-03-18 16:10] hauptbenutzer commented on #60
Could one of you update the description on meetup.com to include AKRA as the location? Details are still the same as they were in [November](https://www.meetup.com/de-DE/Elixir-Hamburg/events/xhxpkpyxpbkc/), unfortunately including the 35 people max capacity.

[2019-03-18 23:37] OleMchls commented on #60
I edited the meetup.com event and announced it. Thanks for the patience everyone <3

[2019-03-25 10:37] h4cc commented on #60
Tweetered:

https://twitter.com/HamburgEx/status/1110128255045197825

[2019-03-25 10:41] h4cc commented on #60
@hauptbenutzer You had signs at the door and lift so guest will find the venue. You do that again? :D

[2019-03-26 08:48] hauptbenutzer commented on #60
@h4cc Sure thing!

[2019-03-26 18:44] OleMchls commented on #61
@bruno-azenha will do the orga of the event

[2019-03-27 07:10] h4cc commented on #60
@Miradorn Get me the links you had in your presentation for tweetering, plz.

[2019-03-27 08:43] Miradorn commented on #60
Presentation here:
https://app.ludus.one/cfb39153-c9ac-435e-a728-e000db985c29#1
twitter handle is @m1rad 🙃

[2019-03-28 08:13] IvanRublev opened #67 "Elixir Coderetreat - May"
### Let's extend Kata to a full day Coderetreat event!

The Coderetreat is a full day practice focused on the fundamentals of software development - software design, clean code, refactorings (https://www.coderetreat.org/).

The general idea is to solve simple problems with Elixir to have fun! 🎉

The event takes place in the first half of May.
We will add more information here and in the meetup gro

[2019-03-28 09:10] OleMchls commented on #67
@IvanRublev thanks for following up on this here. As said, I will help you putting this up within the meetup group? I will create a scaffold event and make you the organizer.

[2019-03-28 12:47] bruno-azenha commented on #67
I'm really excited about this, and happy to say that we at Wunder Mobility would love to host it!
I've already talked with our events team and they are on board with the idea as well

I would imagine that being a full day of activities, it would probably be on a weekend, right?
How should we decide on a specific date?

[2019-03-28 14:05] IvanRublev commented on #67
Yes, it’d be great to have a full day event of 4 - 5 coding sessions with
retros. It can be a Saturday. I’m out of the city at 4th of May, and
available all other days. The 10th of May suits me well.
@janderit what’s the avaliability of the facilitator you have on mind?

[2019-03-28 14:09] OleMchls commented on #67
I've created https://www.meetup.com/Elixir-Hamburg/events/260145260/ for you to use. Please feel free to edit as you see fit :) Also once more detailes are set, I think it makes sense to e-mail the entire group via meetup.

[2019-03-28 14:09] OleMchls commented on #67
@IvanRublev I hope I equipped you with all rights necessary to do so

[2019-03-28 15:06] IvanRublev commented on #67
Great thanks @OleMchls  I can edit the event 👍

[2019-03-29 15:42] janderit commented on #67
@ivanrublev I will reach out and ask him this weekend.

[2019-04-02 20:29] IvanRublev commented on #67
Okay, Organizers and Supporters, @OleMchls, @bruno-azenha, @janderit it's time to make a kickoff video meeting on Friday 5th. Let Google Calendar and Hangouts help us.
* Please, email me from your google account till the 4th of April.
* I add you to the meeting.
* Then you can add others (@bruno-azenha, please, add your events team), and we agree call time.
* We have a call on Friday via Hangouts.

[2019-04-25 15:45] bruno-azenha commented on #61
Hello Beautiful people!

The event is fully updated on Meetups.
How does it work for the actual tweet. When should it happen?

I'm really excited about it. :)

[2019-04-26 06:49] narrowtux commented on #61
@h4cc usually tweets about it

[2019-04-26 09:23] h4cc commented on #61
Tweetered :) Thx

[2019-05-02 11:21] #61 closed

[2019-05-20 09:02] OleMchls commented on #67
Thanks @IvanRublev and @bruno-azenha for putting this together.

I assume there is no more followup needed here, thus closing the issue.

[2019-05-20 09:02] #67 closed

[2019-05-20 09:05] OleMchls commented on #62
Uh oh, look like we don't have anything planned here. The email goes out tomorrow.

Anyone can sponsor a venue? @bruno-azenha @jh2 @narrowtux @hauptbenutzer @dszam @Miradorn

Content: I'm basically out of ideas here. I'd love to have a talk, any takers?

[2019-05-20 09:06] #60 closed

[2019-05-20 09:22] OleMchls commented on #62
So this will be our last episode before the summer break, I wonder if we could/should do a little feedback session? I'll volunteer to run that one. I also will do a little recap of the year of the UG. But that's nothing that'll work exclusively, so I would want a _real_ talk too :)

[2019-05-24 15:06] OleMchls commented on #62
Given we have no venue nor topics. I'll cancel this meetup on Monday morning unless major changes in planning progress.

[2019-05-27 06:34] h4cc commented on #62
Nothing to offer here :( But i like the idea of a usergroup recap.

Maybe just having a drink/beer somewhere sounds fun insteaf of canceling :+1:

[2019-05-27 08:28] OleMchls commented on #62
@h4cc if you'd like to find a venue for that, I'd be happy to adjust the meetup description and making that happen. But I'm out of ideas and busy with work.

[2019-05-27 13:07] h4cc commented on #62
Busy here too :( sorry.

[2019-05-27 13:24] OleMchls commented on #62
I will take care of cancelling May edition and announce Septemburgers in August

[2019-05-27 15:21] OleMchls opened #68 "Septemburgers 2019 (August Edition)"
# Plan
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Date:** August 27th
- **Location:** Alphacoders

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-05-27 15:22] OleMchls commented on #62
Event canceled. See you in August #68

[2019-05-27 15:22] #62 closed

[2019-07-30 10:19] OleMchls commented on #68
Alphacoders will sponsor us again. I will create the meetup event later today :)

[2019-07-30 21:10] OleMchls commented on #51
We did this in May 2018

[2019-07-30 21:10] #51 closed

[2019-07-30 21:11] OleMchls commented on #8
While still a great proposal, I consider the lack of activity as a withdrawal of the proposal.

[2019-07-30 21:11] #8 closed

[2019-07-30 21:11] OleMchls commented on #13
While still a great proposal, I consider the lack of activity as a withdrawal of the proposal.

[2019-07-30 21:11] #13 closed

[2019-07-30 21:12] OleMchls commented on #19
While still a great proposal, I consider the lack of activity as a withdrawal of the proposal.

[2019-07-30 21:12] #19 closed

[2019-07-30 21:15] OleMchls opened #69 "Septemburgers 2020 (August Edition)"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** August 29th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:16] OleMchls opened #70 "July Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** Junly 28th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:16] OleMchls opened #71 "June Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** June 30th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:17] OleMchls opened #72 "May Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** May 26th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:17] OleMchls opened #73 "April Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** April 28th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:18] OleMchls opened #74 "March Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Julius || Morith || Bruno
- **Date:** March 31st
- **Location:** Awesome Venue

Agenda:
18:00 Start videoconference
18:30 Welcome & ??Lightning Talks??
19:30 Lean Coffee Session (Planned ~1.5h)
21:00 - Planned end of the Lean Coff

[2019-07-30 21:18] OleMchls opened #75 "February Edition"
# Plan
- [x] Agenda
- [x] prepare katas if applicable
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** February 25th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:19] OleMchls opened #76 "January Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** January 28th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2019-07-30 21:19] OleMchls opened #77 "Glühwein and Waffles 2019 - November Edition"
# Plan
- [x] Agenda
- [ ] ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole
- **Date:** November 26th
- **Location:** AKRA @miradon @hauptbenutzer

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Waffles
- Depfu & Elixir @halfbyte
- Talk: @hauptbenutzer Elixir macros https://github.com/hh-ex/plan

[2019-07-30 21:20] OleMchls opened #78 "October Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: @bruno-azenha
- **Date:** October 29th
- **Location:** Wunder Mobility HQ - Hongkongstraße 2, 20457 - Hamburg

# Agenda:
- 18:30 Open the doors
- 19:00 Welcome
- Katas by @pierrebeitz
- Hang out, have beers, coke, mate or whats-o-

[2019-07-30 21:20] OleMchls opened #79 "September Edition"
# Plan
- [x] Agenda 50% @OleMchls
- [x] prepare katas if applicable @narrowtux
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [ ] ~~Promote on Twitter~~

# Execute
- **Organizer**: @OleMchls
- **Date:** September 24th
- **Location:** sum.cumo Kathy Reinecke <kathy.reinecke@sumcumo.com>

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- Talk TBD
- Kata by @narrowtux
- Hang out and

[2019-07-30 21:21] OleMchls commented on #68
I updated the meetup and announced it.

[2019-07-30 21:22] OleMchls commented on #68
I will be at alphacoders at around 3PM to go shopping and prepare the burgers 🍻

[2019-07-30 21:23] OleMchls commented on #64
We did this, @jh2 if you'd like to do this again. I just opened the issues unti Aug 2020 just jump into the edition issue and give your 🤚

[2019-07-30 21:23] #64 closed

[2019-08-04 16:22] IvanRublev commented on #68
@OleMchls, unfortunately, will be out of Hamburg due to vacation. Have a nice burgers! 😄

[2019-08-27 18:35] OleMchls commented on #78
@bruno-azenha Checks for Wunder

[2019-08-27 18:36] OleMchls commented on #78
@bruno-azenha will do the orga of this

[2019-08-27 19:10] OleMchls commented on #79
@narrowtux will do a kata

[2019-08-27 19:24] OleMchls commented on #78
@pierrebeitz will do kata 🎉

[2019-08-29 09:20] OleMchls commented on #68
it was a feast :)

[2019-08-29 09:20] #68 closed

[2019-08-29 09:30] OleMchls commented on #79
I updated the meetup event with the location and agenda. Asked the host for a talk as we have a kata already :)

[2019-09-18 21:33] OleMchls commented on #79
The event announced itself due to organizer idle

[2019-09-24 15:41] OleMchls commented on #79
We did not find a talk. Andy from sum.cumo will do a shot opening presentation, afterwards we will start right into the Kata with @narrowtux

[2019-09-24 15:46] OleMchls commented on #77
@miradon @hauptbenutzer any of you or someone from AKRA want to do a talk?

[2019-09-25 07:18] OleMchls commented on #79
We had a blast, thanks for everyone who attended.

[2019-09-25 07:18] #79 closed

[2019-09-25 07:26] Miradorn commented on #77
I (sadly) haven't really used Elixir in quiet a while, so I don't have much to tell in that regard.
I could tell something about Kubernetes, maybe with a bit about running and using Elixir/Erlang/OTP on it.

[2019-09-25 15:34] egze commented on #77
I could do a live-coding demo with LiveView, if there is any interest 🤓

[2019-09-25 17:52] hauptbenutzer commented on #77
I could do a talk about the finer points of Elixir macros and using the AST structure for template code generation (not unlike eex).

[2019-10-01 17:35] bruno-azenha commented on #78
Hello there!
Wunder will be happy to open doors and host the Elixir Meetup once again.

@pierrebeitz, let me know if you need any kind of support for the kata.
What kind of timeline do you expect from the Katas? Depending on the case, we can also have a talk ready to follow.

We can open doors from 18:30. I'm updating the agenda on the description.

[2019-10-16 20:39] OleMchls commented on #77
Sweet let's do this. @egze I'd love to see your live demo. I always had the idea to make something like a live view hackathon at some point. So let's see the interesst your talk generates and then we are moving from there.

@hauptbenutzer With that talk we have our schedule complete <3

I'd need both of you to provide me with 1 or 2 sentences for the meetup.com description.

I will update this iss

[2019-10-22 16:23] bruno-azenha commented on #78
Hello Beautiful People! I just wanted to confirm with @pierrebeitz that he’s doing the Katas. It would be great to have an estimation of the time that it should take for me to think whether we should fill time with other things as well. :)

[2019-10-29 09:56] h4cc commented on #78
Tweetered:

https://twitter.com/HamburgEx/status/1189118455431204864

[2019-10-29 10:48] bruno-azenha commented on #78
Sadly I did not get any answer from @pierrebeitz. :(

But all is good!
I had planned a backup Hacking & Learn, pretty much in the way that the Elm Meetups go.
It'll be all about Mob Programming a new Elixir application and talking about the tradeoffs in its design. Very beginner-friendly and great for us to strengthen the understanding of what makes good design. :)

The plan is to use Phoenix with

[2019-10-29 12:06] pierrebeitz commented on #78
apparently i messed up my notifications - thanks @bruno-azenha for following up via email!

i'll have something ready and suspect that it'll take around 2 hours overall.

[2019-10-29 13:06] bruno-azenha commented on #78
Then cool!
Just double checking: Will it be mob programming, pairing or each one on their own?
The real question: Should there be laptop space for everyone?

I can save the Hacking and Learning for another edition. ;)

[2019-10-29 14:46] pierrebeitz commented on #78
Depending on the amount of folks i planned for groups of 2 to 3. If we're really few, mobbing would also be feasible.

So yes, laptop space would be nice.

If you want to do the Hack and Learn today, i would not mind at all :D

[2019-11-04 05:16] egze commented on #77
@OleMchls You asked for my talk title and description. Here it is :)

Title: Introduction to LiveView + Demo
Description: A quick introduction what Phoenix LiveView is and a demo how to build typical website features without writing any custom JavaScript.

**What is my time limit?**

[2019-11-04 21:11] hauptbenutzer commented on #77
@OleMchls
Title: Compile-Time Templating with Elixir Macros
Description: Let's utilise the Elixir AST for compile-time template code generation using the power of Elixir Macros. We'll use NimbleParsec and inspiration from Eex.

[2019-11-07 11:09] OleMchls commented on #77
@egze There is no limit, however as we have other items on the schedule. Please don't make it too long. It'd say ~30 - 45 minutes would be great. If you need more time, that make it entertaining and informative. Do that :)

[2019-11-07 11:10] OleMchls commented on #77
We will also have @halfbyte who will talk about Elixir in depfu 🎉

That makes the schedule complete. I will update the description and the meetup 💃

[2019-11-07 11:20] OleMchls commented on #77
@Miradorn @hauptbenutzer please also include alcohol-free versions of the glühwein :)

[2019-11-07 11:21] OleMchls commented on #77
Announced the meetup 🎉

[2019-11-24 09:55] h4cc commented on #77
Question from Meetup:

[2019-11-24 12:21] Miradorn commented on #77
Hi, right now we didn't plan for it, we will think if we can come up with something.

[2019-11-25 09:46] OleMchls commented on #77
I think we can dedicate an waffle iron to this, but I'd appreciate help
from whomever asked for this with the dough. BTW I can't find the question.

On Sun, Nov 24, 2019 at 1:21 PM Alexander Schramm <notifications@github.com>
wrote:

[2019-11-25 09:50] h4cc commented on #77
It was a private Message from "Benjamin".

[2019-11-25 09:50] h4cc commented on #77
Tweetered:

https://twitter.com/HamburgEx/status/1198900101864972293

[2019-11-25 09:52] Miradorn commented on #77
I've looked up a vegan waffle dough recipe (https://utopia.de/ratgeber/vegane-waffeln-ein-einfaches-rezept/) and think I can manage to get extra stuff necessary to make them.

[2019-11-25 09:52] halfbyte commented on #77
I could bring another iron if that would help logistically. I'm not super well versed in vegan waffle doughs, but if you point me to a good recipe, I can get ingredients today and provide dough tomorrow.

I'd consider that a climate friendly sponsorship :)

[2019-11-25 09:55] halfbyte commented on #77
@Miradorn Sorry, that was a simulpost :) My offer stands, but obviously, I don't want to interfere with anyone :)

[2019-11-25 09:55] OleMchls commented on #77
I'll leave this to you @Miradorn and @halfbyte :) Thanks for jumping in on this. The more waffleing irons the better 🎉 🥞

[2019-11-25 09:57] Miradorn commented on #77
@halfbyte I'll have to buy some stuff that day anyway, so it's no problem for me, but thanks for the offer.

[2019-11-25 09:59] halfbyte commented on #77
@Miradorn :+1: I'll just bring my iron then and make sure it's well cleaned so we can use that as a vegan-only iron.

[2019-11-26 10:34] h4cc commented on #77
Another Tweet:

https://twitter.com/HamburgEx/status/1199274999703654400

[2019-11-26 18:26] dszam opened #81 "More non talk content"
Doing more practical stuff during the meetups.
Suggestion from the Glühwein & waffels meetup

[2019-11-26 18:29] dszam opened #82 "Exercises about main concepts"
For beginners, do more practical exercises on elixir concepts like otp, processes, patternmatching, guards,...

[2019-11-27 09:46] h4cc opened #83 "More Lightning Talks"
## The Idea

Providing a base for lightning talks next to normal talks/kata format.

## Why?

Offering people a way to bring in their ideas and content.

## What I need from the orga

Promoting Lightning talks in planing with meetup/twitter description or github issues.

[2019-11-27 10:27] h4cc opened #84 "More code katas"
## The Idea

Encourage coding katas, also smaller ones.

Tell in meetup description / tweet to bring you notebook for coding the kata.

## Why?

More interaction between members and ideas about solving problems.

## What I need from the orga

Provide a howto for katas.
Ask / inform in meetup text / tweet for kata ideas.

[2019-11-27 10:30] h4cc opened #85 "Conference Discounts / Giveaways / Invite Speakers"
## The Idea

Offer conferences / companies to promote them for discounts/promos.
Invite speakers like José Valim :)

## Why?

The community is growing and we can interact more with other players.

## What I need from the orga

Somebody should contact / provide contact.

[2019-11-27 10:41] egze opened #86 "Invite famous speakers to the meetup"
## The Idea
Invite famous speakers like José Valim, Saša Jurić, and others.

## Why?
The talks from big Elixir influencers will attract much interest in our local community. Many people will show up and get motivated.

## What I need from the orga
At first nothing. Maybe if anyone has experience in such events, can share what costs are involved. What do speakers want?
Then before we invite anyone,

[2019-11-27 10:43] egze opened #87 "New code retreat"
## The Idea
Last code retreat was great. Would be nice to repeat it next year.

## Why?
To learn more Elixir and connect with more members in the community.

## What I need from the orga
Organiser. (I can't do it, sadly)

[2019-11-27 10:45] egze opened #88 "Remind to bring laptops to the meetup, especially katas"
## The Idea
When there is any coding involved, it's good to have your own laptop with you. Please remind people when you send out the invitations.

## Why?
Because everyone loves their own laptop :)

## What I need from the orga
Text reminder in the event description.

[2019-11-27 10:49] OleMchls commented on #77
Thanks everyone for making this a great event!

[2019-11-27 10:49] #77 closed

[2019-11-27 10:54] OleMchls commented on #87
Assigning this to @IvanRublev

[2019-11-27 10:56] OleMchls commented on #78
At the #57 edition we had again great feedback on this well prepared kata thanks @pierrebeitz and attendees!

[2019-11-27 10:56] #78 closed

[2019-11-27 11:57] narrowtux commented on #86
More cool people:

 - Michał Muskała
 - Chris McCord

[2019-11-27 21:30] OleMchls commented on #81
I'll close this issue as it's not actionable. I hope that this regular reminder was enough for everyone involved.

[2019-11-27 21:30] #81 closed

[2019-11-27 21:32] #88 closed

[2019-11-27 21:35] OleMchls commented on #85
I removed the speakers part of this issue as it's duplicate with #86 and keep this ticket focused.

[2019-11-27 21:40] OleMchls commented on #86
_moved to initial description_

[2019-11-27 21:47] OleMchls commented on #85
_moved to initial description_

[2019-11-27 21:50] #83 closed

[2019-11-27 21:55] OleMchls commented on #83
I also update the meetup.com description with the changes from 4565cc6

[2019-11-27 22:05] OleMchls commented on #84
I did a complete overhaul of the `format` ticket https://github.com/hh-ex/planning/issues/15 so hopefully, the instructions are now clear(er)

[2019-11-27 22:05] #84 closed

[2019-11-27 22:21] OleMchls commented on #82
I hope this is pretty much accomplished with https://github.com/hh-ex/planning/issues/84#issuecomment-559266425 I also added a topic wishlist in #15

[2019-11-27 22:21] #82 closed

[2019-11-27 22:24] OleMchls opened #89 "Automate Monthly edition ticket creation (with GitHub Actions?)"
I'm tired of creating them manually. It's a cumbersome task, and updates to the template only get implemented once a year (given I create them on a yearly schedule).

I guess GitHub now provides the tools to automates this without additional cost to our group.

I'd love any volunteers to jump in on this!

[2019-11-27 22:26] OleMchls commented on #86
We've done this once many years ago in #28 and also have #20 as a potential format to support this.

[2019-12-04 10:17] narrowtux commented on #89
Maybe https://github.com/JasonEtco/create-an-issue + https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#scheduled-events-schedule can work

[2020-01-21 15:10] narrowtux commented on #76
yo.

should we do some interactive stuff?

[2020-01-23 15:07] OleMchls commented on #76
Looks like no one picked up the meetup. I'm out at a company retreat, I will be back by next week, but no time to prep. If there are no takers, I have to cancel this, as we don't even have a location.

[2020-01-27 19:25] OleMchls commented on #76
I'll go ahead and cancel the event :(

[2020-02-19 09:40] tobstarr commented on #75
@OleMchls I am in town and we could host at Phrase. What do you think?

[2020-02-19 13:32] OleMchls commented on #75
That’d be great. Let’s do this. To keep things simple we’ll do lightning talks :)

[2020-02-19 14:16] IvanRublev commented on #75
@OleMchls I can do a lightning talk like: How Elixir helps Erlang for better coding experience. And present a chatbot for Telegram written in Erlang.

[2020-02-19 14:49] narrowtux commented on #75
I can offer: _The holy grail of polymorphic embeds in Ecto 3.3_

[2020-02-19 20:04] tobstarr commented on #75
How many participants do we expect?

[2020-02-20 08:56] OleMchls commented on #75
Usually around ~10 as we are late and January didn't happen I think we'll even be below that.

@narrowtux @IvanRublev Thanks <3 That'll make it easier for newcomers to propose as well. I'll update meetup.com next, if you could also propose over there that'll make it look better and somewhat more active.

Generally speaking I would like to do this in a more open mic style. For that @tobstarr if you

[2020-02-20 09:05] OleMchls commented on #75
I adjusted the meetup event and also sent out a newsletter thing because we missed the automatic announcement.

[2020-02-20 09:06] #76 closed

[2020-02-20 09:19] tobstarr commented on #75
@OleMchls I just blocked our big shiny forum where there will also be a flipchart. Looking forward to next week!

[2020-02-24 13:53] h4cc commented on #75
Tweetered: https://twitter.com/HamburgEx/status/1231939942189879298

[2020-02-25 18:48] OleMchls commented on #74
This one will be organized by @narrowtux @h4cc and @bruno-azenha

[2020-02-25 18:50] OleMchls commented on #74
I removed myself and added @bruno-azenha from https://www.meetup.com/Elixir-Hamburg/events/gkcplrybcfbpc/

[2020-02-26 06:41] OleMchls commented on #75
It was a pleasure

[2020-02-26 06:41] #75 closed

[2020-03-09 12:03] bruno-azenha commented on #74
Hello @h4cc and @narrowtux!

For this meeting, I believe that we could do a Lean Coffee Session that would take around 2h.
We could also start with something cool as lightning talks. Or perhaps even a full-fledged talk if you have someone in contact that could do it.

I do not believe that Wunder will be able to host this one. Can we get in touch with some of the other venues that host us or perha

[2020-03-12 19:47] narrowtux commented on #74
Hi Bruno,

we were actually planning to ask @ZennerIoT, however as of wednesday, the situation is that we have mandatory homeoffice to help slow down the spread of the COVID-19. I heard of more companies in the IT space doing this and I expect that there will be even more closing their offices [until this all blows over](https://www.youtube.com/watch?v=6htT-aVJup4).

I don't think meeting with >20

[2020-03-15 21:12] bruno-azenha commented on #74
Yup. Wunder already has closed its offices as well.

Digital sounds like the way to go.

There's [this other event](https://www.meetup.com/Scrum-Master-Meetup-Hamburg/events/269231068/) that will do a Lean Coffee session also fully remote,  I'll take a look at their setup.

They are apparently going to use [Zoom](https://us04web.zoom.us/)  and [GroupMap](https://www.groupmap.com/) if I think that

[2020-03-16 06:23] h4cc commented on #74
Thanks for this idea. I think we should try the remote thing and see how it works out! Sounds exciting, yes :D

[2020-03-16 09:07] narrowtux commented on #74
Zoom should work, however there's a 40 minute limit for free accounts.

[2020-03-16 10:24] narrowtux commented on #74
We could make a trial then cancel

[2020-03-17 08:39] OleMchls commented on #74
We could also try https://jitsi.org or https://whereby.com

On Mon, Mar 16, 2020 at 11:25 AM Moritz Schmale <notifications@github.com>
wrote:

[2020-03-30 09:25] bruno-azenha commented on #74
Just following up on this: I'm making the trial accounts under my email today for both Zoom and ~GroupMap~ Actually Lean Coffee Table. Planning on cancelling them afterwards. ~No costs.~ Actually, there is no Zoom trial. I'll get it for this month, and we'll still have a pro Zoom account all the way till the next meetup in April. ;)

Would one of you, @narrowtux, @h4cc or @OleMchls be (remotely) a

[2020-03-31 08:57] bruno-azenha commented on #74
Anyway, I don’t have any reason to think it would not work. See you all later today! :)

[2020-03-31 12:57] OleMchls commented on #74
@bruno-azenha hit me up if you'd still like to do a dry run. I won't be around tonight (kids business).

[2020-04-03 10:56] #74 closed

[2020-04-03 11:09] OleMchls commented on #74
Thank you so much @bruno-azenha for taking care of this ❤️ . I will take over April and probably by just cancelling :)

[2020-04-16 10:16] IvanRublev commented on #87
Hey folks,
I'd like to spotlight a mob retreat day that will happen online with Munich Software Craft Community (in English) https://www.eventbrite.com/e/joint-mob-retreat-day-with-munich-software-craft-community-tickets-102532056140

It's not Elixir specific, the same time it's about new way of teamwork - Mob programming.
* (3 minutes) A Day of Mob Programming [for a team of programmers](https://

[2020-04-23 06:00] h4cc commented on #73
Will this meetup take place? Should we cancel it?

[2020-04-23 11:35] OleMchls commented on #73
We'll cancel it, I feel it's not providing much value in the current state of the world. If there are any remote meetups, there may be organizations that are better suited to host and organize those. I will cancel the ones on meetup.com too.

I will also move ahead and cancel everything until at least August.

[2020-04-23 11:51] OleMchls commented on #73
Canceled everything until at least August and wrote a note to the group.

Message for reference:

[code]

[2020-04-23 11:51] #73 closed

[2020-04-23 11:51] OleMchls commented on #72
Canceled: https://github.com/hh-ex/planning/issues/73#issuecomment-618357208

[2020-04-23 11:51] #72 closed

[2020-04-23 11:51] OleMchls commented on #71
Canceled: https://github.com/hh-ex/planning/issues/73#issuecomment-618357208

[2020-04-23 11:51] #71 closed

[2020-04-23 11:52] OleMchls commented on #70
Canceled: https://github.com/hh-ex/planning/issues/73#issuecomment-618357208

[2020-04-23 11:52] #70 closed

[2020-06-17 09:50] OleMchls commented on #69
Hey Elixir friends 👋

I'm wondering what you folks think about this event? Would you be intetersted? Should we still be concerned about the safety (for this particular outdoor event)?

[2020-06-17 12:36] dszam commented on #69
I would love to see y'all again. I don't think the corona thing should be an issue to prevent us from having Septemburgers. Let's make clear rules, as advised by authorities, and we should be good to go.

[2020-06-17 14:52] NobbZ commented on #69
I'm pretty much the same opinion, especially as the Septemburgers will probably be the only event I'll be able to attend.

[2020-08-12 22:50] OleMchls commented on #69
I contacted Alphacoders and they would be up for hosting it, given it is legally allowed by health officials and socially accepted to run such an event. Today, I think both boxes would be checked. However, after spending some more thoughts on it, I decided against running Septemburgers.

While I always enjoy meeting up with you all, and especially Septemburgers as an event that revolves really aro

[2020-08-14 10:38] NobbZ commented on #69
I fully understand your decision and support it as well. After hearing about the rising figures, I already thought about not coming anyway.

Keep us updated on how it will move along? Perhaps we can have some "Angrillen" in January or February?

[2020-08-15 08:48] justjoheinz commented on #69
I fully support the decision. It is the thing to do! Don't worry - there
will be other enjoyable X-Burgers in the future.

Am Fr., 14. Aug. 2020 um 12:39 Uhr schrieb Norbert Melzer <
notifications@github.com>:

[2021-01-21 11:15] OleMchls commented on #69
Folks, I just canceled all events for 2021 until Septemburgers in August 2021, hoping we'll have the chance to come together as  a group again. So long, stay safe <3

[2021-05-31 20:32] IvanRublev opened #91 "June 2021 Edition"
# Plan
- [x] Agenda
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [x] Promote on Twitter

# Execute
- **Organizer**: Ivan
- **Date:** June 22nd
- **Location:** Online in Jitsi meet (https://meet.jit.si/)

Agenda (upd):
- 19:00 Welcome
- 19:30 Domo - model a business domain with type-safe structs and field type preconditions
- 20:00 Lightning talks
- Hang out and have beers, coke

[2021-05-31 20:34] IvanRublev commented on #91
Folks, we haven't met for ages. I've just released a new version of Domo library that's about type-safe structs. It'd be cool to show it to you to get your feedback about it 😄

[2021-06-02 14:38] OleMchls commented on #91
@IvanRublev  I take you would take the organiser part for this meetup? If so I'll happily get you all access on meetup.com to get everything started.

[2021-06-02 14:39] OleMchls commented on #91
I'll happily chime in with an lightning talk :)

[2021-06-02 14:44] OleMchls commented on #91
@IvanRublev  I've created https://www.meetup.com/Elixir-Hamburg/events/278571735/ you have admin rights on that one. It needs a quick description, you can copy and adjust It from past events or https://github.com/hh-ex/planning/blob/master/meetup-template.md

Thanks for kicking this off 💪

[2021-06-02 19:56] IvanRublev commented on #91
@OleMchls thanks for creating the event. Super cool to have the lightning talk from you.
Can make the description and announcement 🤘

[2021-06-05 13:48] IvanRublev commented on #91
Made announcement on  erlef.org 😊

![Screen Shot 2021-06-05 at 15 47 13](https://user-images.githubusercontent.com/5757941/120893994-599d6700-c616-11eb-9943-114bdf9bc40e.png)

[2021-06-05 13:50] IvanRublev commented on #91
@OleMchls is now a bad time for promo on Twitter? 😀

[2021-06-06 09:45] OleMchls commented on #91
Sure why not. I'll pass you the credentials via DM

[2021-07-05 05:31] NobbZ commented on #69
Has any decission been made upon Semptemburgers '21?

[2021-07-12 08:06] OleMchls commented on #69
Not yet. I've mixed feelings about it and would like to wait a little longer for a final call. Feels like things are still (or again) moving fast.

[2021-08-19 15:24] #91 closed

[2021-08-19 15:27] OleMchls commented on #69
I'll officially cancel Septemburgers 2021 😢 The only way for me to safely do this would be by enforcing the `3G` (or maybe even 2G) but that overhead is probably not worth it. The feedback from other Usergroups doing in person events was rather mixed too.

[2021-08-25 16:52] IvanRublev commented on #69
That's sad. I've just got the second vaccination.
Probably @OleMchls can cancel the appropriate meetup.com event if we don't do it virtually?

[2021-08-25 19:39] OleMchls commented on #69
Yes, thanks for the heads up @IvanRublev

[2021-08-25 19:39] OleMchls commented on #69
Canceled :(

[2021-09-27 11:42] benjaminweb commented on #15
https://github.com/hh-ex/planning/pull/90/commits/17c6bd51e75bc4d4c0c3ed1f82c6a2bb1517a3c8

[2022-06-20 19:58] OleMchls opened #92 "Septemburgers 2022 (August Edition)"
# Plan
- [x] Agenda
- ~~prepare katas if applicable~~
- [x] Location
- [x] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole
- **Date:** August 30th
- **Location:** [alphacoders](https://twitter.com/alphacodersDE)

## Agenda:
As an overarching theme I would like to discuss the future of HH.ex, how we want to proceed with this meetup as a group.

- 1

[2022-06-20 20:00] OleMchls commented on #92
Yes, this is happening ✨  Alphacoders already agreed to host us again this year ❤️

[2022-06-20 20:30] OleMchls commented on #92
Created the event on meetup.com and also announced it. Better start early ✌️

[2022-06-20 20:30] OleMchls commented on #92
@h4cc if your still doing the twitter thing, feel free to get the buzz going :D

[2022-06-21 14:11] IvanRublev commented on #92
Ole is back 🤘

[2022-09-19 14:05] OleMchls commented on #92
Good one :D

[2022-09-19 14:05] #92 closed

[2022-09-19 14:06] OleMchls opened #93 "September Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** September 27th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2022-09-19 14:06] OleMchls commented on #93
First things first, we do need a venue and some sort of agenda. Any takers?

[2022-09-22 10:17] OleMchls opened #94 "October Edition"
# Plan
- [ ] Agenda
- [ ] prepare katas if applicable
- [ ] Location
- [ ] Announce meetup.com event (triggers mail)
- [ ] Promote on Twitter

# Execute
- **Organizer**: Ole || Julius || Morith
- **Date:** October 25th
- **Location:** Awesome Venue

Agenda:
- 18:00 Open the doors
- 18:30 Welcome
- ...
- Hang out and have beers, coke, mate or whats-o-ever 🍻

[2022-09-22 10:17] OleMchls commented on #94
Let's start planning head!

[2022-09-22 10:17] OleMchls commented on #94
We are looking for talks and a location as well

[2022-10-02 13:46] IvanRublev commented on #94
Hey,
With a high probability, the venue is Impact Hub Hamburg. I'll post an update when receiving a confirmation.

[2022-10-02 13:53] IvanRublev commented on #94
Ok. The Impact Hub is glad to host the meetup on the 25th of October!
Schomburgstraße 50, 22767 Hamburg https://goo.gl/maps/Q14QtvXwTu4HSf2v5

The possible programm is
18:00 - Doors open
18:30 - A guided tour around Impact Hub Hamburg
19:00 - Talks / katas
...

[2022-10-02 14:15] IvanRublev commented on #94
For activities.
* I can give a talk: Low code serialization between maps and nested structs with `Nestru` https://hex.pm/packages/nestru
* We can do a[ Diamond kata](http://claysnow.co.uk/recycling-tests-in-tdd/) in Elixir as an ensemble - a group work together on the same project with the same keyboard (it's fun!)

[2022-10-04 11:16] narrowtux commented on #93
I've been really sick these past 2 weeks, sorry I couldn't be of more help.

[2022-10-04 18:53] IvanRublev commented on #94
@OleMchls, is now a bad time to give an announcement on Meetup.com?

[2022-10-07 06:36] IvanRublev commented on #94
Update: we pay for our drinks 2,5 EUR per item because there is no company sponsoring us this time. What we get for free is the space to meet, beamer, and a good spirit.

[2022-10-07 11:39] narrowtux commented on #94
Thank you ivan! I'm currently updating the event with the agenda you so kindly prepared, and will announce it once I'm done.

[2022-10-07 11:44] narrowtux commented on #94
It is announced!

[2022-10-07 15:28] OleMchls commented on #94
Thanks for taking care of this @narrowtux I'll just leave this edition to you :)

[2022-10-09 09:24] IvanRublev commented on #94
@narrowtux, thanks for the announcement!

For diamond kata I intend to run an [ensemble programming session](https://en.wikipedia.org/wiki/Mob_programming) - working all together with one screen and keyboard. And we can do a Fishbowl mode to make it safe.

It might be frightening at first, but if you give it a try, it's engaging. You'll like it! 😄